<div class="white-bg">
  <section class="container-fluid">
    <header>
      <h1>Branding</h1>
    </header>

    <p>
      Investing in your brand will get results by building
      confidence in your customers with an easily recognisable and relatable aesthetic. We want to give you something
      that will scale and grow along with your company's ambitions and ultimate success.
    </p>

    <p>
      We work tirelessly with you to think about the "what's", "who's", "where's" and "when's"
      when it comes to your audience to help sculpt the perfect brand.
      We’re all about engaging your audience through a jaw-dropping logo, wicked <a [routerLink]="['/brand/typography']">typography</a>,
      striking colours and a resonating <a [routerLink]="['/brand/tone-of-voice']">tone of voice</a> along with a strategy that will stick.
      We're not messing around.
    </p>

    <p>
      We also work with you to understand and highlight your <a [routerLink]="['/brand/messaging']">brand messaging</a>,
      and use <a [routerLink]="['/brand/photography']">photography</a>, iconography and animation to compose all these
      elements together to build your perfect brand.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
