<div class="white-bg">
  <section class="container-fluid">
    <a [routerLink]="['../']">< Back</a>

    <h1>Jupiter and the Giraffe<span *ngIf="type"> {{type}} Agency</span> {{location}}</h1>

    <p>
      We bring all our services to {{location}}, be it <a href="https://jupiterandthegiraffe.com" class="link-plain"><span class="sr-only">{{location}}</span> App Development</a> or
      <a href="https://jupiterandthegiraffe.com" class="link-plain"><span class="sr-only">{{location}}</span> App Design</a>.
      As always we will start with a <a href="https://jupiterandthegiraffe.com" class="link-plain"><span class="sr-only">{{location}}</span> App Strategy</a> workshop
      and build out your needs and solutions to your problems.
    </p>

    <section *ngIf="type === 'web app strategy' || !type">
      <h2>App Strategy</h2>

      <p>
        We can’t stress the importance of having a strategy in place before lifting a finger.
        Knowing where we are going is the first step to achieving our goals.
        We have our own co-piloted strategy process in the form of a workshop where we can get under the hood and into the engine of your business.
        We take a look at your users, your brand and your goals which aim to challenge and question your assumptions and give you a clear,
        prioritised path to follow.
      </p>

      <p>
        Learn more about <a [routerLink]="['/service/strategy']">strategy</a>
      </p>

    </section>

    <section *ngIf="type === 'web app design' || !type">
      <h2>App Design</h2>

      <p>
        Creativity and innovation are at the heart of what we do.
        Building something that is both functional and looks great means your SaaS web app will be a pleasure to use and your customers will come back for more.
      </p>

      <p>
        Learn more about <a [routerLink]="['/service/design']">design</a>
      </p>

    </section>

    <section *ngIf="type === 'web app development' || !type">
      <h2>Development</h2>

      <p>
        We were born from years building SaaS products, web apps and websites and landing pages. We live and breathe tech.
      </p>

      <p>
        Offering professional full stack of services from DevOps, CI Pipelines,
        architecture and deployments to backend API development and strong front-end code using the latest technology.
        All built from scratch and specific to your needs.
      </p>

      <p>
        Learn more about our <a [routerLink]="['/service/development']">development services</a>.
      </p>

    </section>


    <section>
      <h2>Check out our other services</h2>

      <p *ngIf="type">
         Learn more about <a [routerLink]="['/' + location.toLowerCase()]">all our services in {{location}}</a>.
      </p>

      <ul class="list-plain">
        <li><a href="https://jupiterandthegiraffe.com">Web App Strategy<span class="sr-only"> agency</span> {{location}}</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Web App Design<span class="sr-only"> agency</span> {{location}}</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Web App Development<span class="sr-only"> agency</span> {{location}}</a></li>
      </ul>
    </section>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
