<div class="white-bg">
  <section class="container-fluid">

    <app-back-button></app-back-button>

    <header>
      <h1>Website Development</h1>
    </header>

    <p>
      We’re confident we can build the site you need, using elegant user experience (UX) and making it accessible to all.
      We have your users in mind. We work closely to your
      <a [routerLink]="'/service/brand-experienc/website-design'">website design</a> to make sure your website reflects
      your brand perfectly.
    </p>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Technologies</h2>
      </header>

      <p>
        We have years of experience in the industry, using technologies such as React, Angular and Vue
        or building brochure sites to complete eCommerce and Wordpress systems or Shopify themes.
      </p>

      <ul>
        <li>Single Page Application (<a href="https://react.com" noreferrer nofollow>React</a>,
          <a href="https://angularjs.org/" noreferrer nofollow>Angular</a>,
          <a href="https://vuejs.org/" noreferrer nofollow>Vue</a>)</li>
        <li>Static sites</li>
        <li><a href="https://aws.amazon.com">AWS</a> and Devops architecture</li>
        <li>Hosting, Email and Domain Name setup</li>
      </ul>
    </section>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Search Engine Optimisation</h2>
      </header>

      <p>
        It's no good if you have the perfect website if nobody knows about it. We also build semantic, clean and responsive
        code so that it plays well with search engines so you can be confident your users can easily find you.
      </p>
    </section>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Content Management and ecommerce</h2>
      </header>

      <p class="text-lead">
        Need a CMS? We got you covered. With our extensive Wordpress experience
        we can build you a website where you have complete control of the content.
      </p>

      <ul>
        <li>
          Bespoke <a href="https://wordpress.com">Wordpress</a> Theme
        </li>
        <li>
          <a href="https://shopify.com" noreferrer nofollow>Shopify</a>
        </li>
        <li>
          <a href="https://woocommerce.com" noreferrer nofollow>Woocommerce</a>
        </li>
      </ul>
    </section>

    <img src="/assets/images/website.jpg" alt="">

    <app-get-in-touch></app-get-in-touch>

    <section>
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a [routerLink]="'/service/brand-strategy'">Brand Strategy</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Branding Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Design Agency</a></li>
      </ul>
    </section>

  </section>
</div>
