@import "../tools/tools";

.btn {
  @extend button;
  line-height: 1.2;
  width: 100%;
  padding: $space-medium;
  appearance: none;
  text-decoration: none !important;

  @include md {
    width: auto;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid;
  }

  &--primary-outline {
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid $color-white;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &--white,
  &--light {
    border-color: $color-white;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-black;
      outline: none;
    }
  }

  &--lg {
    padding: 1rem 2rem;
  }

  &--dark {
    border-color: $color-black;
    color: $color-black;

    &:hover,
    &:focus {
      background-color: $color-black !important;
      color: $color-white !important;
      outline: none !important;
    }
  }
}
