.home {
  a {
    color: $color-black;

    @include hover-focus {
      text-decoration: underline;
    }
  }

  &__blog {
    a {
      &:after {
        display: none !important;
      }
    }
  }

  h2 {
    @include md {
      @include font-size($heading-1);
    }
  }
}

