.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-lead {
    @include font-size($font-lead);

    @include md {
      @include font-size($font-lead-desk);
    }
  }
}

.color {
  &-black {
    color: $color-black;
  }

  &-green {
    color: $color-green-haze;
  }

  &-white {
    color: $color-white;
  }
}
