.white-bg {
  padding: 20px 0;
  background: $color-white;
  color: $color-black;
  padding-bottom: $space-large;

  .para-text {
    margin: 100px 80px;
  }

  .image-text {
    text-align: center;
    font-style: italic;
    padding: 5px;
    margin-top: 0;
  }

  .quote {
    margin: 100px 240px;    
    text-align: center;
  }

  .dash {
    font-family: $title-font;
    margin: 0 70px 0 70px;
  }

  a {
    a:not(.btn) {
      color: $color-oldBrick;
    }
  }

  &--with-image {
    padding-top: 0;
  }

  &__section {
    margin: $space-xlrg 0;
  }

  &__service-list {
    @include md {
      order: 1;
    }

    a {
      color: inherit;
    }
  }
}
