.white-bg {
  padding: 20px 0;
  background: $color-white;
  color: $color-black;

  a {
    color: $color-oldBrick;
  }

  &--with-image {
    padding-top: 0;
  }

  &__section {
    margin: $space-xlrg 0;
  }
}
