@font-face {
  font-family: "KG-SummerStorm";
  src: url("https://assets.jupiterandthegiraffe.com/kgsummerstormrough-webfont.eot");
  src: url("https://assets.jupiterandthegiraffe.com/kgsummerstormrough-webfont.eot?#iefix") format("embedded-opentype"),
       url("https://assets.jupiterandthegiraffe.com/kgsummerstormrough-webfont.woff2") format("woff2"),
       url("https://assets.jupiterandthegiraffe.com/kgsummerstormrough-webfont.woff") format("woff"),
       url("https://assets.jupiterandthegiraffe.com/kgsummerstormrough-webfont.ttf") format("truetype"),
       url("https://assets.jupiterandthegiraffe.com/kgsummerstormrough-webfont.svg#kg_summer_storm_roughregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src:  url("https://assets.jupiterandthegiraffe.com/icomoon.eot");
  src:  url("https://assets.jupiterandthegiraffe.com/icomoon.eot#iefix") format("embedded-opentype"),
        url("https://assets.jupiterandthegiraffe.com/icomoon.ttf") format("truetype"),
        url("https://assets.jupiterandthegiraffe.com/icomoon.woff") format("woff"),
        url("https://assets.jupiterandthegiraffe.com/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}