@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.work {
  &__link {
    display: inline-block;
    position: relative;
  }

  &__item-image {
    text-align: center;
  }

  &__link {
    margin-bottom: $space-large;
  }
}

.myDiv {
  width: 1280px;
  height: 750px;
}
