@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.work {
  &__link {
    display: block;
    position: relative;
  }

  &__item-image {
    text-align: center;
  }

  &__link {
    margin-bottom: $space-large;
  }
}
