<div class="what-we-do">
  <section class="container-fluid">
    <header>
      <h1 class="sr-only">What we do</h1>
    </header>

    <section>
      <header>
        <h2>Strategy</h2>
      </header>

      <p class="what-we-do--tagline">
        Strategy is an essential part to our process, no matter what stage you're at. We'll help clarify your purpose,
        understand your users and define your goals.
      </p>

      <p>
        Find out more about <a [routerLink]="['/service/strategy']">Strategy service</a>.
      </p>
    </section>

    <section class="section">
      <header>
        <h2>Branding</h2>
      </header>

      <p class="what-we-do--tagline">
        Like you, we believe brand aesthetics are the most important thing.
        You need something engaging, unique and most importantly you!
      </p>

      <p>
        Find out about <a [routerLink]="['/service/branding']">branding service</a>.
      </p>
    </section>

    <section class="section">
      <header>
        <h2>Design</h2>
      </header>

      <p class="what-we-do--tagline">
        We've done websites, we've done apps. We've got what it takes to design you something
        that shines.
      </p>

      <p>
        Find out more about <a [routerLink]="['/service/design']">design service</a>.
      </p>
    </section>

    <section class="section">
      <header>
        <h2>Website build</h2>
      </header>

        <p class="what-we-do--tagline">
          We pride ourselves in writing clean, maintainable code on a platform you can trust using the latest technologies.
        </p>

        <p>
          Find out about our <a [routerLink]="['/service/web-development']">web development service</a>.
        </p>
    </section>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
