<div class="what-we-do white-bg text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 what-we-do__fixed-titles-wrap">
        <div class="what-we-do__fixed-titles what-we-do__first-section" #fixedWrap [ngClass]="{'what-we-do__fixed-titles--no-title': !activeIndex}">
          <a
            href="#"
            *ngFor="let service of services; let i = index"
            (click)="goToSection($event, i + 1)"
            class="h2 what-we-do__fixed-title"
            [ngClass]="{'what-we-do__fixed-title--active': activeIndex === i + 1}"
            [innerHTML]="service.title.rendered"
          >
          </a>
        </div>
      </div>
      <div class="col-md-8" #scrollSection>
        <section class="what-we-do__intro what-we-do__first-section">
          <header>
            <h1 class="what-we-do__title">What we do</h1>
          </header>

          <div class="what-we-do__text" *ngIf="content?.content" [innerHTML]="content.content.rendered"></div>
        </section>

        <section class="section" *ngFor="let service of services">
          <header>
            <h2 id="{{service.slug}}">
              <span [innerHTML]="service.title.rendered"></span>
              <div class=sr-only> for tech startups</div>
            </h2>
          </header>

          <div class="h3" *ngIf="service.acf.subtitle">{{service.acf.subtitle}}</div>

          <div class="what-we-do--tagline" [innerHTML]="service.excerpt.rendered" *ngIf="service.excerpt.rendered"></div>

          <p class="text-left">
            Learn more about <a [routerLink]="'/service/' + service.slug" [innerHTML]="service.title.rendered"></a>.
          </p>
        </section>
      </div>
    </div>

    <app-get-in-touch></app-get-in-touch>
  </div>
</div>
