@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.what-we-do {
  padding: 20px 0;
  background: $color-white;
  color: $color-black;

  a {
    color: $color-oldBrick;
  }

  &--tagline {
    @include font-size($heading-2-mobile);
    font-style: italic;
    margin: $space-large 0;

    @include md {
      @include font-size(20);
      margin: $space-xlrg 0;
      text-align: left;
    }
  }

  h2 {
    text-align: center;
  }

  &__text {
    @include md {
      text-align: left;
    }
  }

  &__fixed-title {
    text-align: left;
    border: none;
    margin-bottom: 50px;
    opacity: .1;
    transition: opacity .3s ease, color .3s ease, transform .3s ease;
    display: block;
    color: $color-black !important;

    &--active {
      opacity: 1;
      color: $color-malibu !important;
      transform: translateX(5px);
    }

    &:hover:not(&--active) {
      opacity: .3;
      transform: translateX(5px);
    }
  }

  &__fixed-titles-wrap {
    position: relative;
    display: none;

    @include md {
      display: block;
    }
  }

  &__fixed-titles {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    &--no-title {
      .what-we-do__fixed-title {
        opacity: 1;
      }
    }
  }

  &__first-section {
    padding-top: 50px;
    @include md {
      padding-top: 100px;
    }
  }

  &__intro {
    @include md {
      min-height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__title {
    margin-top: 0;
  }
}
