@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.what-we-do {
  padding: 20px 0;
  background: $color-white;
  color: $color-black;

  a {
    color: $color-oldBrick;
  }

  &--tagline {
    @include font-size($heading-2-mobile);
    font-style: italic;
    margin: $space-large 0;

    @include md {
      @include font-size($heading-2);
      margin: $space-xlrg 0;
    }
  }

  &__prompt {
    margin: 0;
    padding: $space-medium;
    border-radius: 5px;
    border: 1px solid $color-mine-shaft;
    text-align: center;
  }

  &__fixed-title {
    text-align: left;
    border: none;
    margin-bottom: 50px;
  }

  &__fixed-titles-wrap {
    position: relative;
  }

  &__fixed-titles {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-top: 100px;
  }
}
