<div class="white-bg">
  <section class="container-fluid">
    <h1>Brand Messaging</h1>

    <p>
      Brand messaging brings together the many aspects of your brand to highlight the personality, values and top level messaging
      your product or service should be aiming towards.
    </p>

    <p>
      It's what drives the customers emotions when they interact with your brand and what pursuades them to relate and understand you.
      It doesn't necessarily have to be exactly what is written or said, that's <a [routerLink]="['/brand/copywriting']">copywriting</a>,
      brand messaging is the intent behind what you are saying in a way that is symbiotic with your <a [routerLink]="['/brand/tone-of-voice']">tone of voice</a>.
    </p>

    <p>
      Once again, as part of the <a [routerLink]="['/services/strategy']">Strategy</a> workshop we pull all this information
      in a figure out the best way to scream and shout about your company.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
