<div class="white-bg">
  <section class="container-fluid">
    <h1>React</h1>

    <p>
      (Taken from their website). React makes it painless to create interactive UIs.
      Design simple views for each state in your application,
      and React will efficiently update and render just the right components when your data changes.
    </p>

    <p>
      <a href="https://reactjs.org/">React</a> is a front-end JavaScript library for building component-based JavaScript web applications.
      Its wide adoption rate and lightweight library means it's heavily used in many front-end applications. To build a web application
      into something more than just a component-based single-page application, you must also use libraries to extend Reacts functionality.
    </p>

    <p>
      React is built and maintained by Facebook.
    </p>

    <p>
      Jupiter and the giraffe have experience building single-page applications with <a href="https://reactjs.org/" nofollow="" norefferer="">React.js</a>.
      We love to use React in combination with a headless <a [routerLink]="['cms']">CMS</a> to give you ultimate control over your content.
    </p>

    <p>
      Please check out <a [routerLink]="['our-work']">case studies</a> to discover what websites we have made with React.
    </p>

    <p>
      If you're interested in building a React application with us, get in touch.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
