<div class="white-bg service">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <header>
      <h1>{{content.title.rendered}}</h1>
    </header>

    <div class="row">
      <div class="col-sm" [innerHTML]="content.content.rendered"></div>
      <div class="col-sm flex-column d-flex">
        <ul class="white-bg__service-list row">
          <li *ngFor="let service of content.acf.services" class="col-6">
            <a [routerLink]="service.link" *ngIf="service.link; else noLink">{{service.service}}</a>
            <ng-template #noLink>{{service.service}}</ng-template>
          </li>
        </ul>

        <img src="{{content._embedded['wp:featuredmedia'][0].source_url}}" alt="">
      </div>
    </div>

    <app-get-in-touch></app-get-in-touch>

    <section>
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a [routerLink]="'/service/strategy'">Brand Strategy</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Branding Agency</a></li>
        <li><a [routerLink]="'/service/design'">Design Agency</a></li>
        <li><a [routerLink]="'/service/brand-experience/website-development'">Web Development Agency</a></li>
      </ul>
    </section>

  </section>
</div>
