<div class="white-bg">
  <section class="container-fluid">
    <a [routerLink]="['../']">< Back</a>

    <h1>Vue</h1>

    <p>
      (Taken from their website). Vue <i>(pronounced /vjuː/, like view)</i> is a progressive framework for building user interfaces.
      Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable.
      The core library is focused on the view layer only,
      and is easy to pick up and integrate with other libraries or existing projects. On the other hand,
      Vue is also perfectly capable of powering sophisticated Single-Page Applications when used in combination with modern tooling and supporting libraries.
    </p>

    <p>
      Vue is an open-source framework for building front-end JavaScript applications. Its benefits over something like
      <a [routerLink]="['/web-development/angular']">Angular</a> is its lightweight size and easy adoption rate.
      It was built by an ex-Google engineer and has grown rapidly in popularity over the last few years.
    </p>

    <p>
      Jupiter and the giraffe have experience building single-page applications with <a href="https://vuejs.org/" nofollow="" norefferer="">Vue.js</a>.
      We love to use Vue in combination with a headless <a [routerLink]="['/web-development/cms']">CMS</a> to give you ultimate control over your content.
    </p>

    <p>
      Please check out <a [routerLink]="['/work']">case studies</a> to discover what websites we have made with Vue.
    </p>

    <p>
      If you're interested in building a Vue application with us, get in touch.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
