<section>
  <header>
    <h1>3DUX - Website build</h1>
  </header>

  <section>
    <header>
      <h2>A decade of experience</h2>
    </header>

    <p>
      My journey has taken me through start-ups and global brands, gaming to health, retail to telecommunications and the journey is far from over.
    </p>
  </section>

  <section>
    <header>
      <h2>Hand crafting interactions</h2>
    </header>

    <p>
      Harmonisng the pulls of the project brief with usability prinicples, where the brand’s language resonates with each interaction and the goals of the user and business align to create a fruitful relationship.
    </p>

    <p>
      (Taken from their about section)
    </p>

    <a href="http://3dux.co.uk">Go to 3DUX's website</a>
  </section>
</section>

