<section class="contact">
  <div class="container-fluid">
    <header>
      <h1>
        <div data-aos="fade-up">
          Got work?
        </div>
        <div data-aos="fade-up" data-aos-delay="100">
          Or just here to say "hey"?
        </div>
      </h1>
    </header>
    <div class="row">
      <section class="col-md-6">
        <h2>Contact Us</h2>
        <div *ngIf="!name; else forminfo">
          <p>
            We were just talking about you! Drop us a line and let us know why you're here.
          </p>

          <p><strong>Call</strong>: +44 20 3290 9902</p>

          <p>Contact us for a <strong>free consultation</strong>.</p>

          <form [formGroup]="rForm" (ngSubmit)="sendForm(rForm.value)" novalidate>
            <label>
              Name:
              <input type="text" formControlName="name" required>
              <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched" class="form-error">
                We need to know who you are!
              </div>
            </label>

            <label>
              Email:
              <input type="text" formControlName="email" required>
              <div *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched" class="form-error">
                How can we reach you? Give us an email address
              </div>
            </label>

            <label>
              Company:
              <input type="text" name="company">
            </label>

            <label>
              Message:
              <textarea formControlName="message" id="" cols="30" rows="10"></textarea>
              <div *ngIf="!rForm.controls['message'].valid && rForm.controls['message'].touched" class="form-error">
                Tell us a bit more information about why you want to get in touch.
              </div>
            </label>

            <re-captcha formControlName="recaptchaReactive"></re-captcha>

            <button type="submit" [disabled]="rForm.invalid">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              Send
            </button>
          </form>
        </div>

        <ng-template #forminfo>
          <div class="card">

            <div class="text-center">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x color-green"></i>
                <i class="fa fa-check fa-stack-1x color-white"></i>
              </span>
            </div>

            <p><strong>{{name}}!</strong> <br>Thanks for dropping us a line. We'll get back to you soon.</p>

            <p>Email: <strong>{{email}}</strong></p>

            <p>Here's what you said...</p>

            <blockquote>{{message}}</blockquote>
          </div>

        </ng-template>
      </section>
      <section class="col-md-6">
        <header>
          <h2>Jobs!</h2>
        </header>

        <p>
          We’re always on the lookout for super awesome remote creatives. If you’re a UX designer, graphic designer,
          copywriter, developer or project manager then get in touch!
        </p>

        <p><a href="mailto:jobs@jupiterandthegiraffe.com">jobs@jupiterandthegiraffe.com</a></p>

        <div class="margin-top--lg margin-bottom--lg">
          <app-social></app-social>
        </div>

        <p><strong>Jupiter and the Giraffe Ltd.</strong></p>

        <p>C/O Wis Accountancy Ltd, 4 Imperial Place, Maxwell Road, Borehamwood, England, WD6 1JN</p>

        <p>Company number: 11769481</p>
      </section>
    </div>
  </div>
</section>
