<div class="white-bg">
  <section class="container-fluid">
    <a [routerLink]="['../']">< Back</a>

    <h1>AWS</h1>

    <p>
      Amazon Web Services is our chose partner for infrastructure as it provides a reliable place for our websites to be hosted in
      for a cheap price.
    </p>

    <p>
      Cloud computing was a revelation to the web industry. No more do we need to invest in our own infrastructure which
      costs a lot of time and money to make sure we've purchased all the correct hardware up front. Cloud computing allows
      for a pay-per-use model which lends itself for experimentation and means the client can leverage powerful technologies
      for a fraction of the price.
    </p>

    <p>
      We take care of everything for you. We sett up your AWS account, build your infrastructure and set up monitoring
      so that you're the first to know if there's a problem with your site.
    </p>

    <p>
      If you're interested in building with AWS, get in touch with us.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
