<div class="white-bg white-bg--with-image">
  <section class="container-fluid">
    <img src="/assets/images/strategy.jpg" alt="">

    <app-back-button></app-back-button>

    <header>
      <h1>Strategy</h1>
    </header>

    <p>
      This stage in the project gives us the opportunity to delve deeper into your pain points to better understand
      your problems. We encourage you to dig deep and think about your audience and build user profiles,
      think about your company and where you want to position it and seek your competitors to get the upper hand.
    </p>

    <p>
      Strategy can be incredible insightful to you and us which is why we run it as a separate service. It allows us
      to really outline the problem we are trying to solve and so it helps us act more like a partner working with you than
      for you. It gives us the ability to think as a collective even when you're not around.
    </p>

    <p>
      What comes out of this is a fully fledged plan of action where everyone is clear and fully involved.
    </p>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Brand Positioning</h2>
      </header>

      <p class="text-lead">
        We facilitate a brand positioning exercise which puts all your values in the spotlight and we find your true calling.
      </p>
    </section>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">User Personas</h2>
      </header>

      <p class="text-lead">
        We outline your ideal customers so that we can speak directly to them making sure whatever we produce is falls
        in line with their values, wants and needs.
      </p>
    </section>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Goals</h2>
      </header>

      <p class="text-lead">
        We finalise the session with a clear, prioritised list of goals that will guarantee the results when it comes to
        your return on investment.
      </p>
    </section>

    <p>
      If your business have some pain-points that you think we can help with, holla at us!
    </p>

    <app-get-in-touch></app-get-in-touch>

    <section class="white-bg__section">
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a href="https://jupiterandthegiraffe.com">Brand Strategy</a></li>
        <li><a [routerLink]="'/service/branding'">Branding Agency</a></li>
        <li><a [routerLink]="'/service/design'">Design Agency</a></li>
        <li><a [routerLink]="'/service/web-development'">Web Development Agency</a></li>
      </ul>
    </section>

  </section>
</div>
