<div class="white-bg">
  <section class="container-fluid">
    <a [routerLink]="['../']">< Back</a>

    <header>
      <h1>Strategy</h1>
    </header>

    <p>
      This stage in the project gives us the opportunity to delve deeper into your pain points to better understand
      your problems and pain points. We encourage you to dig deep and think about your audience and build user profiles,
      think about your company and where you want to position it and seek your competitors to get the upper hand.
    </p>

    <p>
      What comes out of this is a fully fledged plan of action where everyone is clear and fully involved.
    </p>

    <p>
      If your business have some pain-points that you think we can help with, holla at us!
    </p>

    <section>
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a href="https://jupiterandthegiraffe.com">Strategy</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Branding Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Design Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Web Development Agency</a></li>
      </ul>
    </section>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
