<div class="white-bg">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <header>
      <h1>Brand Strategy</h1>
    </header>

    <div class="row">
      <div class="col-sm">
        <p>
          Strategy is an interactive, facilitated workshop ran on-site that depending on the size of the team can be up to
          2 days. We come to you to get the best of the experience and helps us bond as a team. It's imperative that we
          run the session with key decision-makers on the project.
        </p>

        <p>
          This stage in the project gives us the opportunity to delve deeper into your pain points to better understand
          your problems. We encourage you to dig deep and think about your audience and build user profiles,
          think about your company and where you want to position it and seek your competitors to get the upper hand. This
          enables strategic brand management when we develop your identity.
        </p>

        <p>
          What comes out of this is a fully fledged plan of action where everyone is clear and fully involved.
        </p>
      </div>
      <div class="col-sm flex-column d-flex">
        <ul class="white-bg__service-list">
          <li>Brand Positioning</li>
          <li>Brand Audit and Research</li>
          <li>User Persona's</li>
          <li>Brand Goals</li>
        </ul>

        <img src="/assets/images/strategy.jpg" alt="">
      </div>
    </div>

    <app-get-in-touch></app-get-in-touch>

    <section class="white-bg__section">
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a href="https://jupiterandthegiraffe.com">Branding Agency</a></li>
        <li><a [routerLink]="'/service/brand-strategy'">Brand Strategy</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Design Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Web Development Agency</a></li>
      </ul>
    </section>

  </section>
</div>
