<div class="hero text-center" [ngClass]="{'home-page': home, 'hero--funnel': funnel}">
  <div class="hero__main" *ngIf="!home && !funnel">
    <div class="hero__logo" data-aos="fade-up" data-aos-delay="200">
      <a [routerLink]="['/']" class="hero__link">
        <app-logo></app-logo>
      </a>
    </div>

    <div class="line--top line--bottom line hero__text-wrap">
      <div class="hero__text text-center" data-aos="fade-up" data-aos-delay="400">
        A web studio out of this world.
      </div>
    </div>
    <div class="margin-top--lg">
      <a [routerLink]="['/contact']" class="hero__button btn btn--lg">Let's Make it Happen</a>
    </div>
  </div>

  <div class="hero__main" *ngIf="funnel">
      <h1 data-aos="fade-in" data-aos-delay="200">1 hour free consultation</h1>

      <p data-aos="fade-in" data-aos-delay="600">Kick start your digital product</p>

      <div class="text-center" data-aos="fade-up" data-aos-delay="1000">
        <a [routerLink]="'/contact'" class="btn btn--strategy">Book your free consultation</a>
      </div>
  </div>

  <div data-aos="fade-in" data-aos-delay="200" data-aos-duration="3000" *ngIf="home && content?.acf">
    <div class="h1" [innerHTML]="content.title.rendered"></div>

    <p class="hero__tagline" [innerHTML]="content.acf.strapline"></p>

    <div data-aos="fade-in" data-aos-delay="600" data-aos-duration="3000">
      <div class="margin-top--lg">
          <a [routerLink]="['/contact']" class="hero__button btn btn--lg">Let's Make it Happen</a>
      </div>
    </div>

  </div>
</div>
