@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.hero {
  margin: 0 auto $space-large auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: $space-xlrg $space-medium;

  &__button {
    @include md {
      width: 200px;
    }
  }

  &.home-page {
    height: 100vh;
    margin-bottom: 0;

    @include md {
      min-height: 500px;
    }

    h1, .h1 {
      @include font-size($heading-1-mobile);
      line-height: 60px;

      @include md {
        @include font-size($heading-1);
        margin-bottom: $margin-xlarge;
      }
    }

    .hero__tagline {
      margin-bottom: 40px;
    }

    .hero {
      &__logo {
        position: absolute;
        top: $space-small;
        left: $space-medium;

        @include md {
          left: $space-large;
        }
      }
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    @include font-size(36);

    @include md {
      @include font-size(55);
    }

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
      background: none;
      padding: 0 !important;
    }
  }

  &__logo-text {
    @include title-font();
    color: $color-primary;
    @include font-size(84);
    position: absolute;
    left: 53px;
    bottom: 0;
    z-index: -1;
  }

  &__text {
    @include title-font();
    padding: 10px 0;
    @include font-size(14);

    @include md {
      @include font-size(18);
    }
  }

  &__text-wrap {
    margin: 0 15px;
  }

  .btn--strategy {
    &:hover,
    &:focus {
        color: $color-white;
        border-color: $color-white;
    }
  }

  &--funnel {
    height: 600px;
  }
}
