<div class="hero text-center" [ngClass]="{'home-page': home, 'hero--funnel': funnel}">
  <div class="hero__main" *ngIf="!home && !funnel">
    <div class="hero__logo" data-aos="fade-up" data-aos-delay="200">
      <a [routerLink]="['/']" class="hero__link">
        <app-logo></app-logo>
      </a>
    </div>

    <div class="line--top line--bottom line hero__text-wrap">
      <div class="hero__text text-center" data-aos="fade-up" data-aos-delay="400">
        A
        <span *ngIf="router.url === '/'" class="hero__lead-letter">branding agency</span>
        <a *ngIf="router.url !== '/'" class="hero__lead-letter link-plain" href="https://jupiterandthegiraffe.com">branding studio</a>
        out of this world.
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <div class="hero__button margin-top--lg" data-aos="zoom-out" data-aos-delay="600">
          <a [routerLink]="['/contact']" class="btn btn--lg btn--primary btn--primary-outline">Contact us</a>
        </div>
        <div class="padding--lg"></div>
      </div>
      <div class="col line line--left text-left">
        <div class="hero__button margin-top--lg" data-aos="zoom-out" data-aos-delay="900">
          <a [routerLink]="['/work']" class="btn btn--lg">Our work</a>
        </div>
        <div class="padding--lg"></div>
      </div>
    </div>
  </div>

  <div class="hero__main" *ngIf="funnel">
      <h1 data-aos="fade-in" data-aos-delay="200">1 hour free consultation</h1>

      <p data-aos="fade-in" data-aos-delay="600">Kick start your digital products branding</p>

      <div class="text-center" data-aos="fade-up" data-aos-delay="1000">
        <a [routerLink]="'/contact'" class="btn btn--strategy">Book your free consultation</a>
      </div>
  </div>

  <div data-aos="fade-in" data-aos-delay="200" data-aos-duration="3000" *ngIf="home">
    <div class="h1">Branding a better future</div>
    
    <p class="hero__tagline">
      Beautiful & exceptional design for future-thinking technology that takes us to the stars
    </p>

    <div class="row" data-aos="fade-in" data-aos-delay="600" data-aos-duration="3000">
      <div class="col text-right">
        <div class="margin-top--lg">
            <a [routerLink]="['/work']" class="hero__button btn btn--lg btn--primary btn--primary-outline">See the work</a>
        </div>
      </div>
      <div class="col text-left">
        <div class="margin-top--lg">
            <a [routerLink]="['/contact']" class="hero__button btn btn--lg">Book a consultation</a>
        </div>
      </div>
    </div>

  </div>
</div>
