.hidden {
  @media screen and (max-width: $screen-sm - 1) {
    &-sm {
      display: none !important;
    }
  }

  @media screen and (min-width: $screen-sm - 1) {
    &-sm-up {
      display: none !important;
    }
  }

  @media screen and (max-width: $screen-xs - 1) {
    &-xs {
      display: none !important;
    }
  }

  @media screen and (max-width: $screen-md - 1) {
    &-md-down {
      display: none !important;
    }
  }
}
