<div class="white-bg">
  <section class="container-fluid">

    <app-back-button></app-back-button>

    <header>
      <h1>Brand Experience</h1>
    </header>

    <div class="row">
      <div class="col-sm">
        <p>
          Once you have your brand established it's time to put it to use. We can help deliver a huge variety of formats
          from digital to print.
        </p>
        <p>
          We're experts in website design and development but we also have experience in animations and product packaging.
        </p>
        <p>
          Don't just let your customers feel your brand, embed it in your organisation too. We've spruced up corporate stationary
          and documents so that your workforce lives and breaths your values.
        </p>
        <ul>
          <li>
            Responsive <a [routerLink]="'/service/brand-experience/website-design'">Website Design</a> (UI) &
            <a [routerLink]="'/service/brand-experience/website-development'">Development</a>
          </li>
          <li>Interaction Design</li>
          <li>
            <a [routerLink]="'/service/brand-experience/animations'">Video/Animation</a>
          </li>
          <li>Copywriting</li>
          <li>
            <a [routerLink]="'/service/brand-experience/ux'">User Experience (UX)</a>
          </li>
          <li>Graphic Design</li>
          <li>Product Packaging</li>
          <li>Marketing Materials</li>
        </ul>
      </div>
      <div class="col-sm">
        <img src="/assets/images/experience.jpg" alt="">
      </div>
    </div>

    <app-get-in-touch></app-get-in-touch>

    <section>
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a [routerLink]="'/service/brand-strategy'">Brand Strategy</a></li>
        <li><a [routerLink]="'/service/brand-identity'">Branding Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Design Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Web Development Agency</a></li>
      </ul>
    </section>

  </section>
</div>
