<div class="container-fluid">
  <img src="assets/images/veratrak-feature.jpg" alt="" class="img-fluid case-study__image">
</div>

<div class="case-study white-bg">
  <section class="container-fluid">
    <header>
      <h1>Veratrak - Branding and website</h1>
    </header>

    <section class="section">
      <header>
        <h2>Who are Veratrak and what do they do?</h2>
      </header>

      <p>
        Veratrak is a cutting-edge technology created by a start-up in the heart of east London.
        Their product aims to solve many problems that riddle the pharmaceutical industry,
        the main one being the collaboration and sharing of drug related documentation in the supply chain that has historically been a difficult and lengthy process.
      </p>
    </section>

    <section class="section">
      <header>
        <h2>How we helped them</h2>
      </header>

      <p>
        We were asked to create an identity for their upcoming launch which involved a logo and a website.
        We’re very excited by their technology and with buzz-words floating around like ‘blockchain’ we couldn’t resist getting involved.
      </p>

      <p>
        Understanding the company and their product is very important when trying to iron out an identity.
        It can be a very personal thing and will often stay with the company for quite some time so you need to get it right.
        With new, emerging technologies it was key to create a somewhat friendly,
        familiar logo that still has elements of modern flair to keep it current.
      </p>
    </section>

    <img src="assets/images/veratrak-logo-color.png" alt="Veratrak logo" class="veratrak-logo">

    <section class="section">
      <header>
        <h2>Designing the logo</h2>
      </header>

      <p>
        Our first initial sketches revolved around speed and security.
        Trying to emphasise their core product role. Thinking about shapes,
        we wanted something assertive and strong to represent the trust and security that made their product so important.
        Other concepts played with the idea of light (as in ‘lightening fast’) and tracking and paths to carry the blockchain idea into their identity.
      </p>

      <p>
        The final two that we honed in on had elements of some of the earlier sketches as well as a new idea highlighting a tick,
        or ‘verification’. The 'verified' logo was chosen for its combination of simplicity and aesthetics but after a quick search we found bared too much resemblance to another logo.
        Even down to the colour! This happens from time to time, sometimes subconsciously and sometimes out of pure coincidence.
        Veratrak Ltd were very supportive in this realisation and as the decision between the final two was so tight, the second option was chosen with no regrets.
        From our end, a slight tweak to the new logo meant it actually became our favourite too.
      </p>

      <blockquote>
        <q>Sam and his team did a fantastic job providing a number of different logo options for us to work with. They then took all of our feedback into consideration and continuously worked with us to design the best logo for our company. We were very pleased</q>
        <footer>Jason Lacombe - CEO</footer>
      </blockquote>
    </section>

    <section class="section">
      <header>
        <h2>The website</h2>
      </header>

      <p>
        Once we established an identity, the website needed to cement that theme.
        The core of the logo was the delightful font 'Hurme'. A modern, clean font that needed to be the star of the show.
        We also wanted a bold welcoming (bold welcoming?) bold introduction to the website and that comes from the hero image at the top.
        We created a modern image with clear connotations to blockchain and speed.
        This paved the way for an interesting right alignment and made the hero stand out. We continued to explore that theme throughout but right alignmentmade it difficult to read and watered down the impact of the hero.
      </p>

      <p>
        A subtle element to the logo was the beautiful blue which highlights the 'V'.
        That blue peppers throughout the website intermittently which ties it all together.
        We also discovered a great compliment to the light blue was a dark blue gradient.
        The website gave us a good excuse to utilise this discovery.
      </p>

      <p>
        With lots of new information and somewhat complex explanations to the technology,
        it was important to not make the user feel overwhelmed. We tried clearing this up with the use of simple text and tab system.
        We created 'cards' that on one side contained simple,
        inquisitive text and iconography but on the reverse contained more detailed explanations.
      </p>

      <p>
        We were able to build a simple website like this using Jekyll, a static website builder.
        Editing the content can be made simple using data files which allow user-friendly editing and struck a balance between a CMS-less website (to be added later) and a website that could be released imminently.
      </p>

      <p>
        Overall this was an interesting project and proved a welcome challenge to bring to life the identity of Veratrak.
        Veratrak are a delightful bunch and this is hopefully the start of a great partnership.
      </p>

      <blockquote>
        <q>It was brilliant to work with the team from Jupiter and the Giraffe, we had a tight timeline which they worked to, and were flexible in their approach. The end result speaks for itself and we were delighted with the design and review process.</q>
        <footer>Matt Wilson - Head of Product</footer>
      </blockquote>

      <p>
        Check out the website and logo at <a href="http://veratrak.com">veratrak.com</a>
      </p>
    </section>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
