<div class="white-bg mvp-package">
  <div class="container-fluid text-center">
    <div class="mvp-package__logo">
      <app-logo [showSlogan]="true"></app-logo>
    </div>

    <h1 class="mvp-package__title">
      {{content.title.rendered}}
    </h1>

    <p class="mvp-package__subtitle" *ngIf="content.acf.tagline">
      <strong>
        {{ content.acf.tagline }}
      </strong>
    </p>

    <form class="mvp-package__email" [formGroup]="rForm" (ngSubmit)="sendForm(rForm.value)" novalidate>
      <div class="field-shift sr-only" aria-label="Please leave the following three fields empty">
        <label for="b_name">Name: </label>
        <input type="text" formControlName="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

        <label for="b_email">Email: </label>
        <input type="email" formControlName="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

        <label for="b_comment">Comment: </label>
        <textarea formControlName="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
      </div>

      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" formControlName="email" required placeholder="Email" [readOnly]="sent" class="mvp-package__input">
      <button type="submit" class="btn mvp-package__email-submit btn--white" [disabled]="!rForm.valid || sent">Get Started</button>
    </form>

    <p *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched" class="form-error message">
      How can we reach you? Give us an email address
    </p>

    <p *ngIf="sent" class="message">
      Thanks for contacting us! We've sent you a confirmation email to {{email}}.
    </p>

    <img [src]="content._embedded['wp:featuredmedia'][0].source_url" alt="">

    <div class="mvp-package__content" [innerHTML]="content.content.rendered"></div>

    <div class="row text-left">
      <div class="col-md-4" *ngFor="let feature of content.acf.features">
        <div class="mvp-package__benefit">
          <i class="mvp-package__icon fas {{feature.icon}}"></i>

          <h2>{{feature.title}}</h2>

          <div [innerHTML]="feature.text"></div>
        </div>
      </div>
    </div>

    <form class="mvp-package__email" [formGroup]="rForm" (ngSubmit)="sendForm(rForm.value)" novalidate>
      <div class="field-shift sr-only" aria-label="Please leave the following three fields empty">
        <label for="b_name">Name: </label>
        <input type="text" formControlName="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

        <label for="b_email">Email: </label>
        <input type="email" formControlName="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

        <label for="b_comment">Comment: </label>
        <textarea formControlName="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
      </div>

      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" formControlName="email" required placeholder="Email" [readOnly]="sent" class="mvp-package__input">
      <button type="submit" class="btn mvp-package__email-submit btn--white" [disabled]="!rForm.valid || sent">Get Started</button>
    </form>

    <app-quotes-component *ngIf="quotes" [quotes]="quotes"></app-quotes-component>
  </div>
</div>
