<div class="white-bg">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <h1>Website Design</h1>

    <p>
      Every company should have a website. Most users interact with your website long before you even know about it.
      Your website is such a great lead-generation tool that you need to take it seriously.
    </p>

    <p>
      Website design is our bread and butter and so we take responsive, user-centric web design very seriously. We use
      <a [routerLink]="'/service/brand-exprience/ux'">User Experience</a> as the basis of our designs and build from there.
    </p>

    <p>
      The design itself will work across any device and will reflect all of your brand attributes developed in your
      <a [routerLink]="'/service/brand-identity'">Brand Identity</a>.
    </p>

    <img src="/assets/images/design.jpg" alt="">

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
