<div class="white-bg">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <h1>Website Design</h1>

    <p>
      Every company should have a website. Most users interact with your website long before you even know about it.
      Your website is such a great lead-generation tool that you need to take it seriously.
    </p>

    <p>
      Website design is our bread and butter and so we take responsive web design and user-centric thinking very seriously. We use
      <a [routerLink]="'/service/brand-exprience/ux'">User Experience</a> as the basis of our designs and build from there.
    </p>

    <p>
      The design itself will work across any device, this is what is known as "responsive website design" and will reflect all of your brand attributes developed in your
      <a [routerLink]="'/service/brand-identity'">Brand Identity</a> which is crucial to maintain the values of your brand and build customer loyalty.
    </p>

    <img src="/assets/images/design.jpg" alt="">

    <app-get-in-touch></app-get-in-touch>

    <section>
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a [routerLink]="'/service/brand-strategy'">Brand Strategy</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Branding Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Design Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Web design company</a></li>
      </ul>
    </section>
  </section>
</div>
