<div class="what-we-do">
  <section class="container-fluid">
    <header>
      <h1>Branding</h1>
    </header>

    <p>
      Investing in your brand will get results by building
      confidence in your customers with an easily recognisable and relatable aesthetic. We want to give you something
      that will scale and grow along with your company's ambitions and ultimate success.
    </p>

    <p>
      We work tirelessly with you to think about the "what's", "who's", "where's" and "when's"
      when it comes to your audience to help sculpt the perfect brand.
      We’re all about engaging your audience through a jaw-dropping logo, wicked typography,
      striking colours and a resonating tone of voice along with a strategy that will stick.
      We're not messing around.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
