@import "../../../../assets/sass/settings/settings";
@import "../../../../assets/sass/tools/tools";

.friends {
  &__image {
    max-width: 150px;
    max-height: 175px;
    width: 100%;
    transition: transform .3s ease;
    opacity: 0.8;

    @include md {
      max-height: 130px;
      max-width: 200px;
    }
  }

  &__link {
    display: block;
    align-self: center;
    margin: 10px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @include md {
      min-height: 100px;
    }
  }

  a {
    transition: border-radius .3s ease;

    &:hover, &:focus {
      .friends__image {
        transform: translate(10px, -10px);
      }
    }
  }

  &__list {
    margin-top: $space-xlrg;
    @include md {
      margin: 90px $space-large $space-large $space-large;
    }
  }

  &__title-break {
    @include md {
      display: block;
    }
  }
}
