<section class="section--break friends text-center">
  <div class="container-fluid">
    <header>
      <h2 class="sr-only">Clients</h2>
    </header>

    <ul class="row list-unstyled friends__list">
      <li class="col friends__list-item" *ngFor="let friend of highlightedFriendStore.friends$ | async; let i = index;">
        <a
          [routerLink]="'/case-study/' + friend.slug"
          class="friends__link"
          *ngIf="friend.type !== 'image'; else noLink;"
          data-aos="fade-up"
          [attr.data-aos-delay]="100 * i"
          [title]="'View ' + friend.title.rendered + ' case study'"
        >
          <img
            *ngIf="friend.acf.logo"
            class="img-fluid friends__image"
            [src]="friend.acf.logo.sizes.medium"
            srcset="{{friend.acf.logo.sizes.medium}} 1x, {{friend.acf.logo.sizes.large}} 2x"
            [alt]="friend.acf.logo.alt"
          >
        </a>
        <ng-template #noLink>
        <span
          class="friends__link"
          data-aos="fade-up"
          [attr.data-aos-delay]="100 * i"
        >
          <img
            *ngIf="friend.filename"
            class="img-fluid friends__image"
            [src]="friend.sizes.medium"
            srcset="{{friend.sizes.medium}} 1x, {{friend.sizes.fullsize}} 2x"
            [attr.alt]="friend.alt"
          >
        </span>
        </ng-template>
      </li>
    </ul>
  </div>
</section>
