<div class="white-bg">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <h1>Animations</h1>

    <p>
      Graphic design on its own looks great, but meaningful animation makes it 5 times better. Don't you agree?
      Leveraging off great design we have experience in producing animated video content.
    </p>

    <p>
      We think animation should tell a story, not just animate to look pretty so we take our user-centric thinking and
      bring it to video production.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
