<header class="header" [ngClass]="{'header--show': show }" data-aos="fade-in" data-aos-delay="1200">
  <div class="header__logo">
    <a [routerLink]="['/']">
      Jupiter&nbsp;and <div>the&nbsp;Giraffe</div>
    </a>
  </div>
  <ul class="header__menu list-unstyled" *ngIf="!funnel">
    <li>
      <a routerLinkActive="header__active-link" [routerLink]="['/what-we-do']">What can we do?</a>
    </li>

    <li>
      <a href="#pricing" data-position="#pricing" (click)="scroll($event)" *ngIf="home; else elseBlock">Pricing</a>
      <ng-template #elseBlock>
        <a [routerLink]="['/']" fragment="pricing">Pricing</a>
      </ng-template>
    </li>

    <li>
      <a routerLinkActive="header__active-link" [routerLink]="['/contact']">Contact</a>
    </li>

    <li>
      <a href="https://blog.jupiterandthegiraffe.com">Blog</a>
    </li>

    <li>
      <a [routerLink]="['/how-to-launch-an-awesome-tech-brand']">FREE eBook</a>
    </li>
  </ul>
</header>

<button
  type="button"
  class="header__menu-button"
  [ngClass]="{'header__menu-button--open': menuOpen}"
  (click)="onClick()"
  *ngIf="!funnel"
>
  <i class="fa" aria-hidden="true" [ngClass]="{'fa-bars': !menuOpen, 'fa-close': menuOpen}"></i>
  <div class="sr-only">{{menuOpen ? 'Close' : 'Open'}} menu</div>
</button>


<ul class="header__menu-mobile" [ngClass]="{'header__menu-mobile--open': menuOpen}" *ngIf="!funnel">
  <li class="header__menu-mobile-item">
    <a routerLinkActive="header__active-link" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>

  <li class="header__menu-mobile-item">
    <a routerLinkActive="header__active-link" [routerLink]="['/what-we-do']">What can we do?</a>
  </li>

  <li class="header__menu-mobile-item">
    <a routerLinkActive="header__active-link" [routerLink]="['/contact']">Contact</a>
  </li>

  <li class="header__menu-mobile-item">
    <a href="https://blog.jupiterandthegiraffe.com">Blog</a>
  </li>

  <li class="header__menu-mobile-item">
    <a [routerLink]="['/how-to-launch-an-awesome-tech-brand']">FREE eBook</a>
  </li>

  <li class="header__menu-mobile-item header__menu-mobile-item--number">
    <span class="header__menu-mobile-item-text">Book a consultation:</span>
    <a href="tel:442032909902">+44 20 3290 9902</a>
  </li>
</ul>
