@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-small 15px;

  &:before {
    background-color: rgba($color-black, .9);
    backdrop-filter: blur(5px);
    content: '';
    display: block;
    transform: translateY(-100%);
    transition: transform ease .5s;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: 0 0 5px rgba($color-black, .3);
  }

  @include md {
    padding: 15px;
  }

  &__text {
    font-family: $title-font;
    font-size: 24px;
    display: inline-block;
    margin-right: 10px;
  }

  &--show {
    &:before {
      transform: translateY(0);
    }
  }

  &__emoji {
    margin-right: $space-medium;
    vertical-align: middle;
  }

  &__logo {
    font-family: $title-font;

    a {
      @include hover-focus {
        color: $color-white;
      }
    }
  }

  &__menu {
    list-style: none;

    li {
      display: inline-block;
      margin-right: $space-large;

      @include md {
        margin-right: 0;
        margin-left: $space-large;
      }
    }
  }
}
