<div class="case-study white-bg">
  <img src="assets/images/epoch-feature.jpg" alt="" class="img-fluid case-study__image">

  <section class="container-fluid">
    <header>
      <h1>EPOCH - Branding and website</h1>
      <strong>Launched: Oct 2018</strong>
    </header>

    <p>
      The members of EPOCH are a group of highly knowledgeable leaders in the pharmaceutical industry. Their minds come
      together to redefine industry wide problems, elucidating the way for others and establishing a platform for
      thought-leadership. We wanted a website for EPOCH which not only looked great but introduced new ideas. Giving their
      website these modern, ambitious twists meant there is confidence in their work.
    </p>

    <p class="case-study__lead-text">
      Special thanks to our team for the quick and efficient response to short deadlines and determination to produce
      quality work that delights our clients
    </p>

    <ul class="case-study__credits-list">
      <li><strong>Suzannah James</strong> - UI Design</li>
      <li><strong>Jo Durrant</strong> - Logo Design</li>
      <li><strong>Samuel Gregory</strong> - Project lead and Developer</li>
    </ul>


    <section class="section">
      <header>
        <h2>Who/What is EPOCH?</h2>
      </header>

      <p>
        The European Platform on Changing Healthcare (EPOCH) - a working group dedicated to examining and advancing the
        use of technology within the pharmaceutical supply chain.
        Their values and goals are as follows:
      </p>

      <ul>
        <li>EPOCH will provide a <strong>collaborative</strong> environment for its members (and sponsors) where new ideas
          can be discussed and experimented with.
        </li>
        <li>EPOCH will provide a <strong>communicative</strong> platform for the dissemination of these ideas and other
          supply chain developments.
        </li>
        <li>EPOCH will be an <strong>educational</strong> resource for its members, providing thought leadership articles
          and insight into cutting edge developments.
        </li>
      </ul>

      <p class="case-study__lead-text">
        We learnt that EPOCH is a place for Discovery of what lies ahead for the industry, Enlightenment - for others to
        grow and learn and Innovation - a place where new ideas are born
      </p>
    </section>

    <section class="section">
      <header>
        <h2>The System</h2>
      </header>

      <ol>
        <li>Logo</li>
        <li>
          Design
          <ol>
            <li>Typography</li>
            <li>Iconography</li>
            <li>Colour</li>
            <li>Photography</li>
            <li>UI Design</li>
          </ol>
        </li>
        <li>
          Development
        </li>
      </ol>

      <section>
        <header>
          <h3 id="logo">1. Logo</h3>
        </header>

        <p>
          Our logo needed vibrancy and tenacity. It needed a wide variety of applications as well as the simplicity to be
          recognised if used without the EPOCH name. The blue-green gradients are reflective of modern pharmaceutical
          trends and prove to be striking when used against the purity of white.
          The three sides of the pyramid represent the three values of EPOCH (educate, communicate & disseminate). The
          fourth side is missing and represents the support needed from others in the industry.
        </p>

        <div class="row">
          <div class="col-sm"><img class="img-fluid" src="assets/images/epoch-phone-render.jpg"
                                   alt="iPhone with EPOCH logo demonstrated as an app on the homescreen"
                                   data-aos="fade-up"></div>
          <div class="col-sm"><img class="img-fluid" src="assets/images/epoch-web-render.jpg"
                                   alt="Browser with EPOCH logo demonstrated as an icon in the title of the tab"
                                   data-aos="fade-up"></div>
        </div>
      </section>

      <section>
        <header>
          <h3 id="design">2. Design</h3>
        </header>

        <p>
          The UI design took inspiration from two sources, firstly Origami, due to the notations of unfolding and
          discovery – something which really resonates with what EPOCH represents. Secondly, the use of geometrical
          patterns and angular shapes throughout the site.
        </p>

        <p>
          An exhibition we saw at the V&A called <a
          href="https://www.vam.ac.uk/exhibitions/chance-and-control-art-in-the-age-of-computers">Chance and Control: Art
          in the Age of Computers</a> really inspired us. The exhibition explored computer generated art and art designed
          predominantly through the use of algorithms. This affinity between technology and design, order and entropy, is
          something we wanted to bring to the design of Epoch to showcase their innovative individuality.
        </p>

        <div class="row">
          <div class="col-sm text-center"><img class="img-fluid epoch__type-image"
                                               src="assets/images/epoch-research-1.jpg" alt="" data-aos="fade-up"></div>
          <div class="col-sm text-center"><img class="img-fluid epoch__type-image"
                                               src="assets/images/epoch-research-2.jpg" alt="" data-aos="fade-up"></div>
        </div>

        <section>
          <header>
            <h4 id="typography">Typography</h4>
          </header>

          <p>
            For our typography, we chose two contrasting and distinct fonts. For headings, we opted for a lively and
            brazen sans-serif font – Cera Pro Medium, which also makes an appearance in the logo. For body text, we
            selected Cutive Mono – a wonderful and quirky monospace font inspired by computing and the default font of the
            terminal and IDE’s. The design of Cutive Mono, is based on a number of classic typewriter typefaces, in
            particular the face of IBM’s ‘Executive’. In Cutive, these old faces re-emerge as web fonts that are useful
            for adding character to body texts. Together, these fonts create a powerful visual hierarchy whilst bringing
            personality to the EPOCH brand.
          </p>

          <div class="text-center">
            <img src="assets/images/epoch-type.png" alt="" class="img-fluid epoch__type-image" data-aos="fade-up">
          </div>
        </section>

        <section>
          <header>
            <h4 id="iconography">Iconography</h4>
          </header>

          <p>
            Learning and discovery is a theme we wanted to weave into our design. The iconography is inspired by origami
            as this can be used to construct various geometrical designs and we wanted to make these same constructs
            digitally. The folding and unfolding to create something beautiful is represented in the abstract patterns of
            the icons. Some still hold subtle references to their purpose such as the arrow asking users to ‘explore’ or
            the numbering system used on the tiers as seen on the <a href="http://epoch-group.org">website</a>.
          </p>

          <div class="text-center">
            <img src="assets/images/epoch-icons.png" alt="" class="img-fluid epoch__type-image" data-aos="fade-up">
          </div>
        </section>

        <section>
          <header>
            <h4 id="colour">Colour</h4>
          </header>

          <p>
            The logo creates a striking dominance where used so we made sure this got full attention with a dominance of
            black and white. Colour is used sparingly so that things of greater import are noticed and call to actions
            have full effect.
          </p>

          <div class="text-center">
            <img src="assets/images/epoch-colors.png" alt="" class="img-fluid epoch__type-image" data-aos="fade-up">
          </div>
        </section>

        <section>
          <header>
            <h4 id="photography">Photography</h4>
          </header>

          <p>
            We encourage the use of black and white photography to install wisdom and clarity in its use cases. People,
            places and activity are the content of the imagery to elucidate EPOCH as an engaging and active brand to be
            involved with.
          </p>

          <img src="assets/images/epoch-event.jpg" alt="" class="img-fluid epoch__type-image" data-aos="fade-up">
        </section>
      </section>

      <section>
        <header>
          <h2 id="development">Development</h2>
        </header>

        <p>
          The site was designed with responsiveness at its core so that it functions effortlessly on any device. We opted
          for a side navigation bar to help streamline and unclutter the overall canvas whilst simultaneously giving it a
          uniqueness that stands out. The technology under the hood of EPOCH is Wordpress. We opted for this as the client
          knows the software and the site did not require anything more technologically from a front end perspective such
          as React or Vue. With Wordpress’ flexibility in terms of plugins combined with the competency of the client, we
          had confidence they could extend the functionality and wouldn’t compromise the site.
        </p>

        <p>
          The site lives on AWS. An EC2 container running LAMP. Once again, for simplicity containerisation and a separate
          RDS was not needed. In true agile fashion, it’s important that EPOCH got the site up and running and getting
          sponsorship without overcomplicating the architecture and delaying launch.
        </p>

        <p>
          Take a look at the website <a href="https://epoch-group.org">epoch-group.org</a>
          and our <a href="https://www.behance.net/gallery/71457389/EPOCH">Behance presentation</a> on the project.
        </p>
      </section>
    </section>

    <app-get-in-touch></app-get-in-touch>
    </section>
</div>

