<div class="section pricing text-center">
  <h2 class="text-center" data-aos="fade-in">Pricing Packages</h2>

  <div class="row pricing__prices">
    <div class="col-md-6">
      <section class="pricing__card pricing__card--feature text-center">
        <header class="pricing__card-header">
          <h3 class="pricing__card-title">SaaS MVP Package</h3>
        </header>

        <div class="pricing__card-body">

          <h4 class="pricing__card-price pricing__card-price--large">£6k</h4>

          <p class="pricing__card-sticker">
            <strong>Introductory offer</strong>
          </p>

          <p>
            Got an app idea?
          </p>

          <ul class="pricing__checklist">
            <li>Landing page design in Webflow<sup>*</sup></li>
            <li>User dashboard</li>
            <li>Free/Paid Stripe subscriptions enabled</li>
            <li>Remote App Strategy</li>
            <li>Analytics</li>
            <li>Domain and hosting setup<sup>*</sup></li>
            <li>3 Months consulting and bug support<sup>**</sup></li>
          </ul>

          <div>
            <a [routerLink]="['/mvp-package']" class="btn btn--lg btn--black">Learn more</a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <section class="pricing__card text-center">
        <header class="pricing__card-header">
          <h3 class="pricing__card-title">SaaS Premium Package</h3>
        </header>

        <div class="pricing__card-body">

          <h4 class="pricing__card-price pricing__card-price--small">Contact us</h4>

          <p class="pricing__card-sticker">
            <strong>Bespoke experience</strong>
          </p>

          <p>
            Build your ambitions and take on the world.
          </p>

          <ul class="pricing__checklist">
            <li>Bespoke website + landing page UX/design/development</li>
            <li>User dashboard</li>
            <li>Unlimited Stripe subscriptions</li>
            <li>In-person App Strategy</li>
            <li>Advanced analytics</li>
            <li>App marketing support</li>
            <li>Domain and hosting setup<sup>*</sup></li>
            <li>3 Months consulting and bug support<sup>**</sup></li>
          </ul>

          <div>
            <a [routerLink]="['/contact']" class="btn btn--lg btn--outline btn--dark">Contact us</a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <ul class="list-unstyled">
    <li><small><sup>*</sup> Webflow, hosting and domains are setup by us and managed by you.</small></li>
    <li><small><sup>**</sup> Maximum 3 months support included in price and bugs fixed according to signed-off design.
        Feature development negotiated separately.</small></li>
  </ul>
</div>
