<div class="section pricing text-center" id="pricing" #pricing>
  <h2 class="text-center" data-aos="fade-in">Pricing Packages</h2>

  <div class="row pricing__prices">
    <div class="col-md">
      <section class="pricing__card text-center">
        <header class="pricing__card-header">
          <h3 class="pricing__card-title">SaaS Website Package</h3>
        </header>

        <div class="pricing__card-body">

          <h4 class="pricing__card-price pricing__card-price--large pricing__card-price--strike">£1,000</h4>
          <strong class="pricing__card-discount">£800</strong>

          <strong>
            Need a website that converts?
          </strong>

          <ul class="pricing__checklist">
            <li>Homepage design in Webflow<sup>*</sup></li>
            <li>Analytics/Heatmapping</li>
            <li>Domain and hosting setup<sup>*</sup></li>
            <li>Expert sales copy that converts</li>
            <li>CMS</li>
          </ul>

          <div class="pricing__footer">
            <a [routerLink]="['/website-package']" class="btn btn--lg btn--outline btn--dark">Learn more</a>
          </div>

          <img src="/assets/images/star-20.png" alt="" class="pricing__star">
        </div>
      </section>
    </div>
    <div class="col-md">
      <section class="pricing__card pricing__card--feature text-center">
        <header class="pricing__card-header">
          <h3 class="pricing__card-title">SaaS MVP Package</h3>
        </header>

        <div class="pricing__card-body">

          <h4 class="pricing__card-price pricing__card-price--large pricing__card-price--strike">£6,000</h4>
          <strong class="pricing__card-discount">£3,800</strong>

          <strong>
            Got an app idea?
          </strong>

          <ul class="pricing__checklist">
            <li>Homepage design in Webflow<sup>*</sup></li>
            <li>Remote App Strategy</li>
            <li>Analytics/Heatmapping</li>
            <li>Domain and hosting setup<sup>*</sup></li>
            <li>Expert sales copy that converts</li>
            <li>User dashboard</li>
            <li>Free/Paid Stripe subscriptions enabled</li>
            <li>3 Months consulting and bug support<sup>**</sup></li>
          </ul>

          <div class="pricing__footer">
            <a [routerLink]="['/mvp-package']" class="btn btn--lg btn--black">Learn more</a>
          </div>

          <img src="/assets/images/star.png" alt="" class="pricing__star">
        </div>
      </section>
    </div>
    <div class="col-md">
      <section class="pricing__card text-center">
        <header class="pricing__card-header">
          <h3 class="pricing__card-title">SaaS Premium Package</h3>
        </header>

        <div class="pricing__card-body">

          <h4 class="pricing__card-price pricing__card-price--small">Contact us</h4>

          <strong>
            Build your ambitions and take on the world.
          </strong>

          <ul class="pricing__checklist">
            <li>Bespoke website + landing page UX/design/development</li>
            <li>User dashboard</li>
            <li>Unlimited Stripe subscriptions</li>
            <li>In-person App Strategy</li>
            <li>Advanced analytics</li>
            <li>App marketing support</li>
            <li>Domain and hosting setup<sup>*</sup></li>
            <li>3 Months consulting and bug support<sup>**</sup></li>
          </ul>

          <div class="pricing__footer">
            <a [routerLink]="['/contact']" class="btn btn--lg btn--outline btn--dark">Contact us</a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <ul class="list-unstyled">
    <li><small><sup>*</sup> Webflow, hosting and domains are setup by us and managed by you.</small></li>
    <li><small><sup>**</sup> Maximum 3 months support included in price and bugs fixed according to signed-off design.
        Feature development negotiated separately.</small></li>
  </ul>
</div>
