@import "../../../../assets/sass/settings/settings";
@import "../../../../assets/sass/tools/tools";

.pricing {
  &__card {
    position: relative;
    margin: 0 $space-small;
    border: 1px solid $color-black;
    position: relative;
    background-color: #fff;
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--feature {
      background-color: $color-malibu;
    }
  }

  &__card-title {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__card-price {
    margin: $space-medium 0;
    @include font-size(32);

    @include md {
      margin: $space-large 0;
    }

    &--large {
      @include font-size(68);
    }

    &--small {
      @include md {
        line-height: 2;
      }
    }

    &--strike {
      text-decoration: line-through;
      margin-bottom: 0;
    }
  }

  &__card-header {
    border-bottom: 1px solid $color-black;
    padding: $space-large;

    @include md {
      padding: $space-large;
    }
  }

  &__card-body {
    padding: 0 $space-large $space-large;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__prices {
    @include md {
      margin-bottom: $space-large;
    }

    > * {
      margin-bottom: 20px;

      @include md {
        margin-bottom: 0 !important;
      }
    }
  }

  &__checklist {
    padding-left: 0;
    margin-bottom: auto;
    list-style: none;
  }

  &__footer {
    margin-top: $space-large;
  }

  &__star {
    position: absolute;
    top: -50px;
    right: -40px;
    max-width: 100%;
    width: 100px;
    height: auto;
    z-index: 1;
    transform: rotate(10deg);
  }

  &__card-discount {
    color: $color-oldBrick;
    margin-bottom: $space-large;
    @include font-size($heading-2);
  }
}
