@import "../../../assets/sass/variables";

.friends {
  &__image {
    max-height: 200px;
    vertical-align: middle;

    @media screen and (max-width: $screen-sm - 1) {
      max-width: 150px;
      max-height: 75px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
  }
}
