@import "../../../assets/sass/variables";

.friends {
  .work__link {

  }

  &__image {
    max-width: 300px;
    width: auto;
    height: auto;
    max-height: 200px;

    @media screen and (max-width: $screen-sm - 1) {
      max-width: 150px;
      max-height: 75px;
    }
  }
}
