<div class="white-bg who">
  <section class="container-fluid">
    <header>
      <h2>Who is Jupiter and who is the Giraffe?</h2>
    </header>

    <div [innerHTML]="content.content.rendered" *ngIf="content"></div>

    <section class="who__images" *ngIf="team">
      <header>
        <h3>Our fleet</h3>
      </header>

      <div class="row">
        <div class="col who__image" itemscope itemtype="http://schema.org/Person" *ngFor="let member of team">
          <div class="media">
            <a class="who__link" [routerLink]="['/' + member.slug]">
              <div class="media-left">
                <img itemprop="image" class="media-object" [src]="member._embedded['wp:featuredmedia'][0].source_url"
                     [alt]="'Photo of ' + member.title.rendered"
                     [srcset]="member._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url + ' 1x, ' + member._embedded['wp:featuredmedia'][0].source_url + ' 2x'">
              </div>
              <div class="media-body media-bottom">
                <h4 class="media-heading" itemprop="name">{{member.title.rendered}}</h4>
                <span itemprop="jobTitle">{{member.acf.title}}</span> <br>
                <span itemprop="email">{{member.acf.email}}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <header>
        <h3>Our process</h3>
      </header>

      <div [innerHTML]="content.acf.value" *ngIf="content"></div>
    </section>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
