@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.who {
  &__image {
    margin-top: $space-large;
    margin-bottom: $space-large;

    @include md {
      margin-top: $space-xlrg;
      margin-bottom: $space-xlrg;
    }
  }
}
