<div class="white-bg">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <h1>Corporate Story</h1>

    <p>
      Your story is everything so as part of our <a [routerLink]="'/service/brand-identity'">Brand Identity</a> service
      we build your story to lay the foundations for you core message and values.
    </p>

    <p>
      It's important to know where you come from and where you're going. This helps give direction and meaning to everything
      you do.
    </p>

    <p>
      Brand messaging brings together the many aspects of your brand to highlight the personality, values and top level messaging
      your product or service should be aiming towards.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
