<div class="white-bg">
  <section class="container-fluid">
    <h1>Photography</h1>

    <p>
      Yes, photography! As visual people we are immediately drawn to images, people and familar places.
      This is why photography comes as part of our <a [routerLink]="['/services/brand']">brand</a> package.
    </p>

    <p>
      A photo can say a million words so you need to be aware of the style, composition and grading that your photography
      should be that lends itself to your brand.
    </p>

    <p>
      If you're interested in understanding how your photography can make a difference, get in touch.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
