<div class="section">
  <section>
    <header>
      <h2>Websites</h2>
    </header>
      <p>
        We love front-end development. HTML, CSS, and JavaScript is our bread and butter and who doesn't like bread and butter? Not us.
        That's who.
      </p>

      <p>
        We can create everything from static websites, to complete Wordpress CMS systems and Wordpress themes.
        We have experience in React, AngularJS and Angular and have a solid knowledge of <abbr title="HyperText Markup Language">HTML</abbr>,
        <abbr title="Cascading Style Sheets">CSS</abbr> and JavaScript meaning new technology is an exciting adventure for us.
      </p>

      <p><a href="#">See all our website work</a><dots></dots></p>
  </section>
</div>
<div class="section">
  <section>
    <header>
      <h2>Agile enthusiasts</h2>
    </header>
    <p>
      Experienced in Agile, we understand how to get the most value out of your demands in the quickest time possible.
    </p>

    <p>
      With years of experience working in a scrum team, terms like <q>definition of done</q>, <q>Scrum Master</q>
      and <q>backlog grooming</q> are second nature and we understand when and how to use Agile.
    </p>
  </section>
</div>
