<div [ngClass]="{'keyboard-user': isKeyboardUser}" [attr.aria-busy]="loading">
  <app-header-component
    [show]="showHeader"
    (toggleMenu)="toggleMenu()"
    [menuOpen]="menuOpen"
    [funnel]="isFunnel"
    [home]="isHome"
    (scrollTo)="scrollTo($event)"
    *ngIf="!isLandingPage"
  >
  </app-header-component>

  <!-- <app-climate-strike></app-climate-strike> -->

  <app-stars-component></app-stars-component>

  <div class="jupiter"></div>

  <app-hero-component *ngIf="!isCaseStudy && !isLandingPage" [home]="isHome" [funnel]="isFunnel"></app-hero-component>

  <div class="loading" [ngClass]="{'loading--is-loading': loading}" [attr.aria-hidden]="loading" aria-label="Loading">
    <div aria-hidden="true" class="loading__rocket">🚀</div>
    <div>Hang tight<app-dots-component></app-dots-component></div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <app-footer-component #footer [services]="serviceStore.services$ | async"></app-footer-component>

  <app-cookie-banner [hide]="hideCookie"></app-cookie-banner>
</div>
