<div [ngClass]="{'keyboard-user': isKeyboardUser}">
  <page-header [show]="showHeader"></page-header>

  <stars></stars>
  <div
    class="jupiter"
    data-start="top: 400px;"
    data-end="top: 350px;">
  </div>

  <div class="container">
    <hero [home]="isHome"></hero>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>

  <a href="#" class="scroll-up fa fa-arrow-up" aria-hidden="false" [ngClass]="{'scroll-up--active': showHeader}">
    <span class="sr-only">Scroll to top</span>
  </a>

  <page-footer></page-footer>
</div>
