<div [ngClass]="{'keyboard-user': isKeyboardUser}" [attr.aria-busy]="loading">
  <app-header-component 
    [show]="showHeader" 
    (toggleMenu)="toggleMenu()" 
    [menuOpen]="menuOpen"
    [funnel]="isFunnel"
    *ngIf="!isLandingPage"
  >
  </app-header-component>

  <app-stars-component></app-stars-component>

  <div class="jupiter"></div>

  <app-hero-component *ngIf="!isCaseStudy && !isLandingPage" [home]="isHome" [funnel]="isFunnel"></app-hero-component>

  <div class="loading" [ngClass]="{'loading--is-loading': loading}" [attr.aria-hidden]="loading" aria-label="Loading">
    <div aria-hidden="true" class="loading__rocket">🚀</div>
    <div>Hang tight<app-dots-component></app-dots-component></div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <a (click)="scrollUp($event)" class="scroll-up" [ngClass]="{'scroll-up--active': showHeader}">
    <i aria-hidden="true" class="fab fa-arrow-up"></i>
    <span class="sr-only">Scroll to top</span>
  </a>

  <app-footer-component #footer [services]="serviceStore.services$ | async"></app-footer-component>

  <app-cookie-banner [hide]="hideCookie"></app-cookie-banner>
</div>
