<section class="case-study white-bg">
  <div style="background-image: url(/assets/images/work-boombocs.jpg)" class="case-study__image">
    <div class="container-fluid">
      <a [routerLink]="['../']" class="case-study__back">< Back</a>
    </div>

    <div class="case-study__image-text">
      <header class="container-fluid">
        <h1>Boombocs</h1>
        <p>Website redesign/build</p>
        <strong>Launched: Oct 2018</strong>
      </header>
    </div>
  </div>

  <div class="section">
    <div class="container-fluid">

      <p>
        BoomBocs produce high-end, quality speaker systems. A colourful, fun yet powerful and professional sounding device,
        which is looking to enter high-end retail stores this year.
        BoomBocs came to us looking to revamp their website and give it its own, distinct identity. We welcomed the challenge.
      </p>

      <ul class="case-study__credits-list">
        <li><strong>Suzannah James</strong> - UI Design</li>
        <li><strong>Samuel Gregory</strong> - Project lead and Developer</li>
      </ul>

      <section>
        <header>
          <h2>The Project</h2>
        </header>

        <p>
          We met with Jonny to discuss what the company were about,
          the people involved and the <a [routerLink]="['/brand/messaging']">message</a> they were looking to get across with the new design.
          Jonny was clear that it visually needed to look sleek and professional.
          Not gimmicky and needed to let the speakers provide the colour instead of the website content itself.
        </p>

        <p>
          It was also important that we made sure that we could get results given short deadlines.
          <a [routerLink]="['/development/ecommerce']">eCommerce</a> sites are notoriously in-depth, with account pages, checkout journeys and product pages.
          We proposed the idea of highlighting key pages that we could give attention to and deliver those initially and launch sooner rather than later.
          This was agreed and the stage was set.
        </p>

        <p>
          From this <a [routerLink]="['/service/strategy']">initial meeting</a> we were able to produce a moodboard of the sort of things we felt captured what we had discussed.
          It was also a useful tool to refer to when we came round to designing to help inspire us and move things forward efficiently.
        </p>

        <figure class="margin-bottom--lg text-center">
          <img src="assets/images/boombocs-pinterest.jpg" data-aos="fade-up" alt="Boombocs moodboard" class="img-fluid">
          <figcaption>Boombocs moodboard</figcaption>
        </figure>
      </section>

      <section class="clearfix section">
        <header>
          <h2>Product comes first</h2>
        </header>

        <figure class="pull-left marging margin-right--lg">
          <img src="assets/images/boombocs-concept-4.jpg" alt="" data-aos="fade-up">
          <figcaption class="text-center">Initial concept</figcaption>
        </figure>

        <p>
          Our initial designs focused on big imagery and simple text delivering the message of what BoomBocs is in a clear concise message.
          A key feature of BoomBocs is the hexagon logo. We played around with this in a variety of ways to help carry the iconography through the site.
          We experimented with wrapping images in hexagons, putting content in them. The language we insisted on each of the designs was important to these developments to.
          Not overly complex and simple, quick-to-read paragraphs.
        </p>

        <p>
          After a couple of iterations we landed upon hexagons running down the page, alternating in their alignment to the left and right.
          Within those hexagons, contain colourful images of the speakers. Something wasn’t quite working though.
          The frame of the hexagon was covering too much of the speaker.
          It was also highly dependent on the images being shot correctly to work to avoid being covered up.
          Working with Jonny we combined some of the concepts in the earlier designs by having the image consume an entire band across the width of the page.
          Text to accompany the section was then placed within the hexagon, which overlaid the image.
          We felt this worked incredibly well and the idea was finalised.
        </p>
      </section>

      <section class="section">
        <header>
          <h2>The Platform</h2>
        </header>

        <p>
          The existing site was built in <a [routerLink]="['/development/shopify']">Shopify</a>, a platform we’ve not used before.
          Having a knowledge of <a [routerLink]="['/development/wordpress']">Wordpress</a> really helped with the understanding of these types of applications.
          We were able to create ‘sections’ that can be edited from within Shopify,
          giving BoomBocs complete control of the content and imagery.
          You also have access to the API so you are able to query products and information about certain settings.
          The website came together fairly quickly and Shopify is a fairly simple system to work on,
          although can be slow when updating the theme.
        </p>
      </section>

      <section class="section">
        <header>
          <h2>Applying Animations</h2>
        </header>

        <p>
          BoomBocs were simultaneously getting a new promotional video made.
          We knew this would play a part in the website and the two needed to work in harmony together.
          For first time visitors, you are welcomed with the promo video.
          Once dismissed, we wanted to ‘unveil’ BoomBocs as a slick brand.
          We achieved this with simple <a [routerLink]="['/design/animations']">animations</a>,
          starting with a gentle fade in of the logo with elements being revealed,
          growing outwards from the logo. This gives the impression of a spotlight first focussing on the logo,
          and then being pulled away so the cone of the light-beam broadens and reveals more of the header.
          As you scroll down the page, the text slides gently in from their respective, alternating sides.
          This draws attention to the text as well as looking quite cool!
          We didn’t want to over-bake animations but this was something fun that we knew we wanted to implement.
        </p>
      </section>

      <section class="section">
        <header>
          <h2>The Rest</h2>
        </header>

        <p>
          With much of the style built off the homepage,
          it was then a trivial task to apply this to some of the secondary pages highlighted in the initial meeting.
          We gave some attention to the ‘explore’ pages and instead of having more pages for the user to click around on we combined the two,
          giving a tab system to reveal the complimentary ‘explore’ information.
          We applied this same concept on the ‘Media’ page.
          The user is able to switch between videos and photos within the same page.
        </p>

        <p>
          Overall BoomBocs were a pleasure to work with.
          Having a clear vision from Jonny was pivotal to its success and we feel we rounded each other off nicely by complimenting each other’s skillset.
          This is such an important quality to a team. It also meant that decisions were quickly made and implemented and we wasted little time.
        </p>

        <blockquote>
          <q>The folks at Jupiter and the Giraffe did a stupendous job on our website</q>
          <footer>Jonny Williams - Director</footer>
        </blockquote>

        <p>
          Check it out at <a href="http://boombocs.com" rel="noreferrer noopener">BoomBocs.com</a>
        </p>

        <div class="text-center">
          <img src="assets/images/boombocs.png" srcset="assets/images/boombocs.png 1x, assets/images/boombocs@2x.png 2x" alt="Boombocs logo" data-aos="fade-up">
        </div>
      </section>

      <app-get-in-touch></app-get-in-touch>
    </div>
  </div>
</section>
