<div class="section">
    <h2 class="text-center" data-aos="fade-in">We are</h2>

    <div class="row text-center" style="align-items: center;">
      <div class="col">
        <h3 class="text-center" data-aos="fade-in" data-aos-delay="200">Half Devs</h3>
      </div>
      <div class="col">
        <img src="/assets/images/jupiter.svg" alt="" class="img-fluid">
      </div>
      <div class="col">
        <h3 class="text-center" data-aos="fade-in" data-aos-delay="400">Half Creatives</h3>
      </div>
    </div>

    <div data-aos="fade-in" data-aos-delay="400" class="text-center">
      <h3 class="text-center margin-top--lg padding-top--lg margin-bottom--lg padding-bottom--lg">All Thinkers</h3>

      <p style="max-width: 800px; margin: 0 auto;">
        We're not just kick-ass developers and designers. Creative strategy lies at the heart of everything we do so you can be confident
        your product utilises our years of experience building web apps and our understanding of business strategy.
      </p>

      <div class="home__cta">
        <a [routerLink]="['/contact']" class="btn btn--lg btn--outline btn--black">
          Let's create something awesome
        </a>
      </div>
    </div>
  </div>
