@import "../../../../assets/sass/settings/settings";
@import "../../../../assets/sass/tools/tools";

.we-are {
  &__img {
    display: none;

    @include sm {
      display: block;
    }

    &--small {
      @include sm {
        display: block;
      }
    }
  }

  &__title {
    margin: 50px 0;
  }

  &__thinkers {
    @include sm {
      display: none;
    }

    &--large {
      display: none;

      @include sm {
        display: block;
      }
    }
  }
}
