<div class="section we-are">
    <h2 class="text-center" data-aos="fade-in">We are</h2>
    <!-- <img src="/assets/images/jupiter.svg" alt="" class="img-fluid we-are__img--small"> -->

    <div class="row text-center we-are__title" style="align-items: center;">
      <div class="col">
        <h3 class="text-center" data-aos="fade-in" data-aos-delay="200">Half Devs</h3>
      </div>
      <div class="col">
        <h3 class="text-center" data-aos="fade-in" data-aos-delay="400">Half Creatives</h3>
      </div>
      <div class="col" data-aos="fade-in" data-aos-delay="800">
        <h3>All Thinkers</h3>
      </div>
    </div>

    <div data-aos="fade-in" data-aos-delay="400" class="text-center">
      <p style="max-width: 800px; margin: 0 auto;">
        <ng-content></ng-content>
      </p>

      <div class="home__cta">
        <a [routerLink]="['/contact']" class="btn btn--lg btn--outline btn--black">
          {{cta}}
        </a>
      </div>
    </div>
  </div>
