<div class="white-bg">
  <section class="container-fluid">
    <h1>UX (User Experience)</h1>

    <p>
      User Experience <i>(or UX)</i> is a core part to <a [routerLink]="['web-development']">website development</a>.
      UX strips away all of the design and focuses on the user journey's. This helps optimise those journey's and make
      your website or app as easy to use as possible.
    </p>

    <p>
      We always think from the users perspective in any piece of work we do. The users are established during the
      <a [routerLink]="['strategy']">Strategy</a> phase of the project where we outline 'user profiles'
    </p>

    <p>
      If you're interested in putting your users first online, get in touch.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
