<div class="white-bg">
  <section class="container-fluid">
    <header>
      <h1>Web Development</h1>
    </header>

    <p>
      We’re confident we can build the site you need, using elegant user experience (UX) and making it accessible to all.
      We have your users in mind.
      It's no good if you have the perfect website if nobody knows about it. We build with search engines in mind
      so you can be confident your users can easily find you.
    </p>

    <p>
      We have years of experience in the industry, using technologies such as <a [routerLink]="['web-development/reat']">React</a>,
      <a [routerLink]="['web-development/angular']">Angular</a> and <a [routerLink]="['web-development/vue']">Vue</a>
      or building brochure sites to complete <a [routerLink]="['web-development/ecommerce']">eCommerce</a>
      and <a [routerLink]="['web-development/wordpress']">Wordpress</a> systems or <a [routerLink]="['web-development/shopify']">Shopify</a> themes.
    </p>

    <p>
      Need a <a [routerLink]="['web-development/cms']">CMS</a>? We got you covered. With our extensive Wordpress experience
      we can build you a website where you have complete control of the content.
    </p>

    <p>
      If your digital capabilites are lacking and in need of some digital presence, get in contact.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
