<div class="get-in-touch section text-center">
  <section>
    <header>
      <h2>{{title || "Ready to launch?"}}</h2>
    </header>
    <p>
      Interested in letting us help you design your brand? <a [routerLink]="['/contact']">Contact us</a> or check out
      <a [routerLink]="['/work']">our work</a>.
    </p>

    <div class="text-center padding-top--lg padding-bottom--lg">
      <a [routerLink]="['/contact']" class="btn btn--lg btn--outline btn--dark"><span aria-hidden="true">🚀 </span>Let's
        go!</a>
    </div>

    <app-social></app-social>
  </section>
</div>
