<div class="white-bg">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <h1>Brand Identity</h1>

    <p>
      Not to be confused with our <a [routerLink]="'/service/brand-identity'">"Identity"</a> service,
      your brand identity (or logo) is usually the first thing people see.
      It's the most iconic part of your brand so shouldn't be understated.
    </p>

    <p>
      Your identity can take many forms. An Icon, typeface or even both! Without an identity that has meaning your brands message is totally lost.
      It's a shortcut to your values, messaging and, of course, your identity.
    </p>

    <p>
      If you're interested in a new brand identity, let us know.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
