@import "../../../assets/sass/settings/settings";
@import "../../../assets/sass/tools/tools";

.home {
  padding: 20px 0;
  background: $color-white;
  color: $color-black;

  .work {
    @include md {
      margin-top: 20px;
    }
  }

  &__tagline {
    @include font-size($heading-2-mobile);
    font-style: italic;
    margin: $space-large 0;

    @include md {
      @include font-size($heading-2);
      margin: $space-xlrg 0;
    }
  }

  &__about {
    margin-bottom: $margin-xlarge;
    margin-top: 0;
  }

  &__about-who {
    margin-bottom: $margin-xlarge;

    @include md {
      margin-bottom: 0;
    }
  }

  &__blog-title {
    @include md {
      min-height: 50px;
    }
  }

  &__blog-info {
    margin-bottom: $space-medium;
    margin-top: $space-medium;
  }

  &__blog-image {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  &__blog-tag {
    padding: 5px;
    margin: 5px;
    background-color: rgba($color-oldBrick, .5);
    color: $color-white;
    border-radius: 5px;
    font-size: $small-font;
    border: 1px solid $color-pickledBluewood;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);

    &--development {
      background-color: $color-malibu;
    }
    &--design {
      background-color: $color-green-haze;
    }
    &--business {
      background-color: $color-pickledBluewood;
    }
    &--strategy {
      background-color: $color-confetti;
      color: $color-black;
    }
  }

  &__blog-icon {
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
  }

  &__blog-title-link {
    @include hover-focus {
      text-decoration: none;
    }
  }

  &__title-break {
    @include md {
      display: block;
    }
  }

  &__blog {
    margin-top: $space-large;

    &:first-child {
      margin-top: 0;
    }

    @include md {
      margin-top: 0;
    }
  }

  
  &__lead {
    @include font-size($font-lead);
    
    @include md {
      @include font-size($font-lead-desk);
    }
  }
  
  &__work {
    padding: 20px 0;
    color: $color-black;
    position: relative;
    
    h2 {
      border-bottom-color: $color-white;
    }
    
  }

  &__work-extra-info {
    @include md {
      display: none;
    }
  }

  &__work-case-study {
    font-family: $body-font;
  }
  
  &__work-item {
    background-size: cover;
    position: relative;
    display: block;
    color: $color-white;
    margin-bottom: 20px;

    @include  lg {
      margin-bottom: 0;
    }

    .text {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      font-family: $title-font;

      @include lg {
        opacity: 0;
        transform: translateY(-30%);
        transition: transform .2s ease, opacity .2s ease;
      }
    }
    
    span {
      display: block;
      text-align: center;
      padding: 0 30px;

      + span {
        margin-top: 20px;
      }
    }
    
    &::before {
      content: '';
      position: absolute;
      background-color: rgba($color-black, .6);
      
      @include lg {
        background-color: rgba($color-black, 0);
      }

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      transition: background-color .3s ease;
    }
    
    @include hover-focus {
      .text {
        transform: translateY(-50%);
        opacity: 1;
      }

      &::before {
        background-color: rgba($color-black, .6);
      }

      .home__work-case-study {
        text-decoration: underline;
      }
    }

    &::after {
      content: '';
      display: block;
      padding-bottom: 56.25%; 
    }

    + .home__work-item {
      margin-top: 18px;
    }
  }

  &__work-image {
    position: relative;
  }

  &__work-caption {
    &--light {
      color: $color-white;
    }
  }

  &__work-link {
  

    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat; 
    justify-content: center;
  }

  &__blog {
    a {
      color: $color-black;
    
      &:after {
        display: none !important;
      }
    }
  }

  h2 {
    @include md {
      @include font-size($heading-1);
    }
  }

  &__services {
    a {
      color: $color-black;
    }
  }
}

agm-map {
  height: 400px;
}
