<section class="home">
  <div class="container-fluid">
    <h1 class="sr-only">Jupiter and the Giraffe | Brand Strategy & Design studio for digital products</h1>

    <p class="home__tagline text-center" data-aos="fade-in">
      Jupiter and the Giraffe are a
      <span style="display: block">nomadic <strong>brand strategy and design</strong> studio</span>
      that help life-changing <strong>digital products</strong>
      <strong style="display: block">stand out in the market</strong>
    </p>

    <section class="section text-center home__services">
      <header>
        <h2>
          <span data-aos="fade-up" style="display: inline-block;" data-aos-delay="100">Services</span>
        </h2>
      </header>

      <p class="home__lead">
        We take your big idea, refine it through business strategy and 
        execute it through bold design. We then build it into an unforgettable experience
        helping your product tell its story effectively to the world.
      </p>

      <div class="row" (appDeferLoad)="showMyElement=true">
        <section *ngFor="let service of services; let i = index;" class="col-sm-4 margin-bottom--lg text-left" data-aos="fade-up" [attr.data-aos-delay]="300 * i">
          <img
            *ngIf="showMyElement"
            [src]="service._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url"
            [srcset]="service._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url + ' 2x, ' + service._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url + ' 1x'"
            [alt]="service._embedded['wp:featuredmedia'][0].alt_text"
          >

          <h3>{{service.title.rendered}}</h3>

          <div [innerHTML]="service.excerpt.rendered"></div>

          <p>
            Learn more about <a [routerLink]="'/service/' + service.slug">{{service.title.rendered}}</a>.
          </p>
        </section>
      </div>

      <div class="text-center padding-top--lg padding-bottom--lg">
        <a href="" [routerLink]="['/what-we-do']" class="btn btn--lg btn--outline btn--dark">
          <span aria-hidden="true" class="vertical-align">🧠 </span>What can we do?
        </a>
      </div>
    </section>

    <section class="section text-center" *ngIf="this.work">
      <div class="home__work-content">
        <header>
          <h2><span data-aos="fade-up" style="display: inline-block;" data-aos-delay="100">Latest work</span></h2>
        </header>  
      
        <p class="home__lead">
          We specifically design and create for the digital technology because we know how it works
          <span style="display: block">from startup through to commercialisation.</span>  
        </p>
    
        <div class="row">
          <div class="col-md-8">
            <a 
              class="home__work-item"
              [ngStyle]="{'background-image': 'url(' + this.work[0]._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url + ')'}"
              [routerLink]="'/case-study/' + this.work[0].slug"
              >
              <span class="text">
                <span>{{this.work[0].acf.extra_info}}</span>
                <span class="home__work-case-study">View case study</span>
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a
            class="home__work-item"
            [ngStyle]="{'background-image': 'url(' + this.work[1]._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url + ')'}"
            [routerLink]="'/case-study/' + this.work[1].slug"
            >
            <span class="text">
              <span class="home__work-extra-info">{{this.work[1].acf.extra_info}}</span>
              <span class="home__work-case-study">View case study</span>
            </span>
          </a>
          <a
            class="home__work-item"
            [ngStyle]="{'background-image': 'url(' + this.work[2]._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url + ')'}"
            [routerLink]="'/case-study/' + this.work[2].slug"
          >
          <span class="text">
            <span class="home__work-extra-info">{{this.work[2].acf.extra_info}}</span>
            <span class="home__work-case-study">View case study</span>
          </span>
        </a>
          </div>
        </div>
    
        <div class="text-center padding-top--lg padding-bottom--lg">
          <a href="" [routerLink]="['/work']" class="btn btn--lg btn--outline btn--dark">
            View the rest of our portfolio
          </a>
        </div>
      </div>
    </section>
  </div>
</section>

<app-friends-component></app-friends-component>

<section class="home">
  <div class="container-fluid">
    <section class="text-center">
      <header>
        <h2>
          <span data-aos="fade-up" style="display: inline-block;" data-aos-delay="100">Creativity <div></div>without borders</span>
        </h2>
      </header>

      <p class="home__lead">
        We believe in the remote working revolution, travelling the world bringing the cream of the crop talent that is bespoke to your needs.
      </p>
    </section>
  </div>

  <div *ngIf="developmentMode; else map" class="text-center">Map will not load in dev mode</div>
  <ng-template #map>
      <agm-map [zoom]="2" [latitude]="0" [longitude]="115.1385" [mapDraggable]="true" [scrollwheel]="false" [zoomControl]="false"
               [streetViewControl]="false" [styles]="styles">
        <agm-marker [latitude]="-8.6478" [longitude]="115.1385" aria-label="Bali"></agm-marker>
        <agm-marker [latitude]="3.1390" [longitude]="101.6869" [opacity]=".7" aria-label="Kuala Lumpur"></agm-marker>
        <agm-marker [latitude]="-37.8136" [longitude]="144.9631" [opacity]=".7" aria-label="Melbourne"></agm-marker>
        <agm-marker [latitude]="-33.8688197" [longitude]="151.2092955" [opacity]=".7" aria-label="Sydney"></agm-marker>
        <agm-marker [latitude]="51.5074" [longitude]="0.1278" [opacity]=".7" aria-label="London"></agm-marker>
      </agm-map>
    </ng-template>

  <div class="container-fluid">
    <div class="text-center padding-top--lg padding-bottom--lg">
      <a href="" [routerLink]="['/what-we-do']" class="btn btn--lg btn--outline btn--dark">
        <span aria-hidden="true" class="vertical-align">✉️ </span>Work with us
      </a>
    </div>

    <div class="section"></div>

    <section class="home__blog section margin-top--lrg">
      <header>
        <h2>Discover</h2>
      </header>
      <div *ngIf="blogStore.blogs$ | async">
        <article *ngFor="let blog of blogStore.blogs$ | async" class="home__blog">
          <header>
            <h3 class="home__blog-title">
              <a [href]="blog.blog.link" class="home__blog-title-link" [innerHTML]="blog.blog.title.rendered"></a>
            </h3>
          </header>

          <a [href]="blog.blog.link" class="home__blog-image-link">
            <span class="sr-only">{{blog.blog.title.rendered}}</span>

            <div (appDeferLoad)="showMyElement=true" *ngIf="blog.image">
              <div class="home__blog-image" *ngIf="showMyElement"
                    [ngStyle]="{'background-image': 'url(' + blog.image.source_url + ')'}">

                <span
                  class="home__blog-tag"
                  [ngClass]="{
                    'home__blog-tag--development': blog.category.slug === 'brand-experience',
                    'home__blog-tag--design': blog.category.slug === 'brand-identity',
                    'home__blog-tag--business': blog.category.slug === 'business',
                    'home__blog-tag--strategy': blog.category.slug === 'brand-strategy'
                  }"
                  aria-hidden="false"
                >
                  Category: {{blog.category.name}}
                </span>
              </div>
            </div>
          </a>

          <div class="home__blog-info">
            <a [href]="blog.author.link"><img [src]="blog.author.avatar_urls['48']" alt=""
                                              class="home__blog-icon"></a>
            By <a [href]="blog.author.link"><strong>{{blog.author.name}}</strong></a> on <strong>{{blog.date[2]}}.{{blog.date[1]}}.{{blog.date[0]}}</strong>
          </div>

          <div [innerHTML]="blog.blog.excerpt.rendered"></div>
        </article>

        <div class="text-center padding-top--lg padding-bottom--lg">
          <a href="https://blog.jupiterandthegiraffe.com" class="btn btn--lg btn--outline btn--dark">
            <span aria-hidden="true" class="vertical-align">📕️️ </span>Read more on our blog
          </a>
        </div>

      </div>
      <p *ngIf="error">There was an error fetching the blogs...</p>
      <p *ngIf="!blogStore.blogs$ && !error">Loading blogs
        <app-dots-component></app-dots-component>
      </p>
    </section>

    <section class="section text-center">
      <header>
        <h2>Ready to launch?</h2>
      </header>

      <p class="home__lead">
        Enough talking, let's get right to it.
      </p>

      <div class="text-center">
        <a [routerLink]="['/contact']" class="btn btn--lg btn--outline btn--black">
          <span aria-hidden="true" class="vertical-align">🚀 </span>
          Let's go!
        </a>
      </div>
    </section>

  </div>

</section>

