<div class="white-bg">
  <section class="container-fluid">
    <app-back-button></app-back-button>

    <header>
      <h1>Design</h1>
    </header>

    <p>
      Extending from your brand, we take every aspect of who your users are and we'll
      design you something that far exceeds what they expect. We'll expand what you thought was
      possible and open your eyes to breath-taking design through composition, contrast, colour and experience.
    </p>

    <p>
      If you need a fresh style, come say hi.
    </p>

    <section>
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a href="https://jupiterandthegiraffe.com">Strategy</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Branding Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Design Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Web Development Agency</a></li>
      </ul>
    </section>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
