<div class="white-bg white-bg--with-image">
  <section class="container-fluid">
    <img src="/assets/images/design.jpg" alt="">

    <app-back-button></app-back-button>

    <header>
      <h1>Design</h1>
    </header>

    <p>
      Extending from your brand, we take every aspect of who your users are and we'll
      design you something that far exceeds what they expect. We'll expand what you thought was
      possible and open your eyes to breath-taking design through composition, contrast, colour and experience.
    </p>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Website Design</h2>
      </header>

      <p class="text-lead">
        We have vast experience in website design. We implement your brand into a user-centric website. We strive to make
        the <a [routerLink]="'/ux'">User Experience</a> a practical one as well as enjoyable.
      </p>
    </section>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Packaging Design</h2>
      </header>

      <p class="text-lead">
        We love traditional design as well as digital. Packaging and poster design as well as stationary.
      </p>
    </section>

    <section class="white-bg__section">
      <header>
        <h2 class="text-left">Illustration</h2>
      </header>

      <p class="text-lead">
        We can do illustrations of all shapes and sizes for any medium, be it print, video or websites.
      </p>
    </section>

    <p>
      If you need a fresh style, come say hi.
    </p>

    <app-get-in-touch></app-get-in-touch>

    <section>
      <h2>Check out our other services</h2>

      <ul class="list-plain">
        <li><a [routerLink]="'/service/strategy'">Brand Strategy</a></li>
        <li><a [routerLink]="'/service/branding'">Branding Agency</a></li>
        <li><a href="https://jupiterandthegiraffe.com">Design Agency</a></li>
        <li><a [routerLink]="'/service/development'">Web Development Agency</a></li>
      </ul>
    </section>

  </section>
</div>
