<div class="white-bg">
  <section class="container-fluid">
    <a [routerLink]="['../']">< Back</a>

    <h1>CMS</h1>

    <p>
      Short for 'Content Managment System', CMS is a piece of software that manages the creation and modification
      of digital content and allows for the separation of content and presentation in a web application.
      CMS' allow for many users with varying permissions to manage this content.
    </p>

    <p>
      Our CMS of choice is <a [routerLink]="['/web-development/wordpress']">Wordpress</a>. Wordpress is used by over 28% of all websites on the internet,
      and by 59% of all websites using a known content management system, followed by <a href="https://www.joomla.org/" nofollow noreferrer>Joomla</a> and
      <a href="https://www.drupal.org/" nofollow noreferrer>Drupal</a>.
    </p>

    <p>
      If you're interested in building a CMS for your website, get in touch.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
