<div class="white-bg">
  <section class="container-fluid">
    <a [routerLink]="['../']">< Back</a>

    <h1>Ecommerce</h1>

    <p>
      Short for 'Electronic Commerce', Ecommerce refers to the selling of goods online.
      It can also be attributed to any kind of transaction online.
    </p>

    <h2>Types of Ecommerce Models</h2>

    <p>
      There are four main types of ecommerce models that can describe almost every transaction that takes place between consumers and businesses.
    </p>

    <ol class="list-plain">
      <li>
        <strong>Business to Consumer (B2C):</strong>
        When a business sells a good or service to an individual consumer
        (e.g. You buy a pair of shoes from an online retailer).
      </li>
      <li>
        <strong>Business to Business (B2B):</strong>
        When a business sells a good or service to another business
        (e.g. A business sells software-as-a-service for other businesses to use)
      </li>
      <li>
        <strong>Consumer to Consumer (C2C):</strong>
        When a consumer sells a good or service to another consumer
        (e.g. You sell your old furniture on eBay to another consumer).
      </li>
      <li>
        <strong>Consumer to Business (C2B):</strong>
        When a consumer sells their own products or services to a business or organization
        (e.g. An influencer offers exposure to their online audience in exchange for a fee, or a photographer licenses their photo for a business to use).
      </li>
    </ol>

    <h2>Examples of Ecommerce</h2>

    <p>
      Ecommerce can take on a variety of forms involving different transactional relationships between businesses and consumers,
      as well as different objects being exchanged as part of these transactions.
    </p>

    <ol class="list-plain">
      <li>
        <strong>Retail:</strong>
        The sale of a product by a business directly to a customer without any intermediary.
      </li>
      <li>
        <strong>Wholesale:</strong>
        The sale of products in bulk, often to a retailer that then sells them directly to consumers.
      </li>
      <li>
        <strong>Dropshipping:</strong>
        The sale of a product, which is manufactured and shipped to the consumer by a third party.
      </li>
      <li>
        <strong>Crowdfunding:</strong>
        The collection of money from consumers in advance of a product being available in order to raise the startup capital necessary to bring it to market.
      </li>
      <li>
        <strong>Subscription:</strong>
        The automatic recurring purchase of a product or service on a regular basis until the subscriber chooses to cancel.
      </li>
      <li>
        <strong>Physical products:</strong>
        Any tangible good that requires inventory to be replenished and orders to be physically shipped to customers as sales are made.
      </li>
      <li>
        <strong>Digital products:</strong>
        Downloadable digital goods, templates, and courses, or media that must be purchased for consumption or licensed for use.
      </li>
      <li>
        <strong>Services:</strong>
        A skill or set of skills provided in exchange for compensation. The service provider’s time can be purchased for a fee.
      </li>
    </ol>

    <p>
      If you're interested in building an ecommerce application with us, get in touch.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
