.case-study {
  padding-top: 0;

  &__credits-list {
    font-size: 2rem;
    list-style: none;
  }

  &__lead-text {
    font-size: 2.5rem;
  }

  a {
    &::after {
      display: none;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: $color-white;
    height: 400px;

    @include md {
      height: 700px;
    }
  }

  &__image-text {
    background-color: rgba($color-mine-shaft, .7);
    width: 100%;
    padding: $space-large;

    h1 {
      @include font-size($heading-2-mobile);
      @include md {
        @include font-size($heading-1-mobile);
      }
    }

    p {
      margin: 0;
    }
  }

  &__back {
    margin-top: $space-large;
    display: inline-block;
  }
}
