.scroll-up  {
  background-color: $color-malibu;
  color: $color-white;
  position: fixed;
  right: 0;
  bottom: 100px;
  width: 70px;
  transition: transform ease .5s;
  transform: translateX(100px);
  z-index: 90;
  padding-left: $space-small;

  @include md {
    bottom: 70px;
  }

  &--active {
    transform: translateX(0);
  }

  &:focus,
  &:hover {
    color: inherit;
    text-decoration: none;
  }


  &:before,
  &:after {
    content: "";
    background: transparent;
  }

  &:after {
    border-top: 12px solid $color-malibu;
    border-bottom: 12px solid $color-malibu;
    border-left: 8px solid transparent;
    position: absolute;
    left: -8px;
    bottom: 0;
    top: 0;
  }

  @media screen and (max-width: $screen-sm - 1) {
    padding: 7px;
  }
}
