<section class="climate-strike">
    <div class="container-fluid">
      <div>Jupiter and the Giraffe</div>
      are
      <h1>Out of Office</h1>
  
      <p>
          To keep the planet in business
      </p>
  
      <span class="hashtag">#climatestrike</span>
      <span class="hashtag">#createandstrike</span>
  
      <div>
        <img class="climate-strike__logo" src="http://oooclimatestrike.com/images/Create-and-strike-logo.png" alt="">
      </div>
  
      <a href="http://oooclimatestrike.com/">Take action</a>
    </div>
</section>