// http://chir.ag/projects/name-that-color/

$color-black: #333333;
$color-white: #e6e6e6;
$color-vulcan: #0a0b13;
$color-oldBrick: #942223;
$color-malibu: #93ccf8;
$color-pickledBluewood: #2A3A47;
$color-mine-shaft: #323232;
$color-green-haze: #05AB33;
$color-confetti: #EBD751;

$color-primary: $color-oldBrick;
$color-secondary: $color-oldBrick;
$color-gray-dark: $color-mine-shaft;
