$body-font: -apple-system,system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$main-font: 'KG-SummerStorm';
$title-font: $main-font, Arial, sans-serif;
$base-font: 16;
$small-font: 14;
$line-height-base: 1.5;

$heading-1: 42;
$heading-2: 33;
$heading-3: 18;
$heading-4: 14;
$heading-1-mobile: 34;
$heading-2-mobile: 24;
