$margin-xlarge: 20px;

$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;

$space-small: 5px;
$space-medium: 10px;
$space-large: 20px;
$space-xlrg: 70px;
