<div class="white-bg">
  <section class="container-fluid">
    <h1>Shopify</h1>

    <p>
      Shopify is a powerful eCommerce platform and we have experience building themes for.
      Whether you're just starting out or already have a store, we can help you sell more.
    </p>

    <p>
      We've built themes that integrate with Shopify's <abbr title="application programming interface">API</abbr> so that
      your products seamlessly integrate with the theme and look awesome.
    </p>

    <p>
      Please check out <a [routerLink]="['our-work']">case studies</a> to discover what websites we have made with Shopify.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
