<div class="what-we-do">
  <section class="container-fluid">
    <header>
      <h1>Web Development</h1>
    </header>

    <p>
      We’re confident we can build the site you need, using elegant user experience (UX) and making it accessible to all.
      We have your users in mind.
      It's no good if you have the perfect website if knowbody knows about it. We build with search engines in mind
      so you can be confident your users can easily find you.
    </p>

    <p>
      We have years of experience in the industry, using technologies such as React,
      Angular and Vue or building brochure sites to complete eCommerce and Wordpress systems or Shopify themes.
    </p>

    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
