
<section>
  <h1>Terms & Conditions</h1>

  <p>The following terms and conditions refer to Jupiter and the Giraffe ("The Agency") and its relationship with its clients and potential clients.</p>

  <section>
    <h2>General Terms & Conditions of Business</h2>

    <section>
      <h3><strong>1.1</strong> Quotes & Prices</h3>

      <ol>
        <li><strong>1.1.1.</strong> Quotes/estimates are based on the information provided by the Client, including but not limited to detail on quantities, structure, scope and functionality. Any quote/estimate may therefore be subject to change should the client’s requirements change at any time.</li>
        <li><strong>1.1.2.</strong> Unless otherwise stated, photography, stock images, delivery, copywriting and VAT will be charged extra.</li>
        <li><strong>1.1.3.</strong> If the contract or hourly price has not been fixed for the term of a contract, our hourly rate of £100 will apply.</li>
        <li><strong>1.1.4.</strong> Quotes/estimates are based on the Agency's current costs of production and unless otherwise agreed are subject to amendment on or at any time after acceptance to meet any rise or fall in such costs.</li>
        <li><strong>1.1.5.</strong> Any estimates given by The Agency as to the time of completion or performance of its services (whether completion of the whole or a part of those services) shall be estimates only and time shall not be of the essence.</li>
        <li><strong>1.1.6.</strong> Any stated timescale is reliant upon the client providing all required information/copy/images within the time set out at project initiation.</li>
        <li><strong>1.1.7</strong> If an hourly price is charged for a website, the Agency may put an affiliate link in the footer. Removal will be a one-off fee of £30.
        </li>
      </ol>
    </section>

    <section>
      <h3><strong>1.2</strong> Methods</h3>

      <ol>
        <li><strong>1.2.1.</strong> The Agency reserves the right to sub-contract the fulfillment of an order or any part thereof.</li>
        <li><strong>1.2.2.</strong> Any images supplied electronically will be incorporated into designs without charge provided that they are of suitable quality. All images need to be supplied as EPS illustrator vectors for logos and Photoshop tiffs (300dpi min) for pictures. Any logos that need to be re-drawn will be charged extra at our hourly rate. All supplied images requiring scanning or alterations to be charged at £35 per hour. Images sourced from external image libraries may incur additional license/royalty charges payable by the Client.</li>
        <li><strong>1.2.3.</strong> Should the Client supply text, artwork or images, the Agency is not obliged to edit, check or guarantee the correctness thereof in any way whatsoever, and the end product shall be made at the entire risk of the Client.</li>
        <li><strong>1.2.4.</strong> The Agency shall be indemnified by the Client in respect of any claims, costs and expenses arising out of any libelous matter or any infringement of copyright, patent design or any other proprietary or personal rights contained in any material supplied by the Client. The indemnity shall extend to any amounts paid on a lawyer's advice in settlement of any claim.</li>
        <li><strong>1.2.5.</strong> Origination and/or conceptual work and any copyright subsisting therein shall remain the property of the Agency unless otherwise agreed in writing with the Client.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.3</strong> Invoices & Payment</h3>

      <ol>
        <li><strong>1.3.1.</strong> Payment must be made no more than 30 days after date of invoice unless otherwise agreed in writing in advance. Any payment outstanding will be charged at 8% per annum for each day it is delayed.</li>
        <li><strong>1.3.2.</strong> We understand and will exercise our statutory right to interest under the Late Payment Of Commercial Debts (Interest) Act 1998 amended by European Directive 2000/35/EC if we are not paid according to these terms.</li>
        <li><strong>1.3.3.</strong> All work remains copyrighted to the Agency until settlement of relevant fee account.</li>
        <li><strong>1.3.4.</strong> Invoices are not subject to UK VAT.</li>
        <li><strong>1.3.5.</strong> All payments must be in UK Pounds Sterling.</li>
        <li><strong>1.3.6.</strong> All work completed after project inception will be billed as it is completed at the end of every calendar month as Work in Progress (WIP) until the conclusion of the project.</li>
        <li><strong>1.3.7.</strong> If the Agency incurs any costs as a result of the Client’s neglect or default, the Agency may charge those costs to the Client in addition to the contract price.</li>
        <li><strong>1.3.8.</strong> The Client shall pay for any preliminary work which is produced at his/her request, whether experimentally or otherwise. A 50% rejection fee is applicable on all designs executed by the Agency should the Client cancel their contract/order.</li>
        <li><strong>1.3.9.</strong> When payment is overdue, the Agency may suspend work, service and/or delivery without notice and without prejudice to any other legal remedy until due payment has been made. Furthermore, any work started but incomplete may be suspended and payment therefore becomes immediately due and payable, notwithstanding anything expressed herein, and any monies in respect of.</li>
        <li><strong>1.3.10.</strong> The Agency may require payment in advance, or a deposit of at least 50% of the quote/estimate total prior to instigating work on an order, particularly but not limited to the following situations: new clients; clients with a poor payment history; large, lengthy or complex projects. Where a deposit is required, the balance shall be due upon completion of the work, unless otherwise agreed in writing in advance.</li>
        <li><strong>1.3.11.</strong> If no contact is recieved or work on a project ceases to progress beyond a two week period, this will be considered a termination of the project and a new SOW may be written and may incur termination charges.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.4</strong> Proofing</h3>

      <ol>
        <li><strong>1.4.1.</strong> Proofs, pull samples, specimens, sketches, photographs, links or any representation, whether partial or total, of the finished article in whatever form may be submitted to the Client for approval.</li>
        <li><strong>1.4.2.</strong> Colour proofing is chargeable at £5 per A3 sheet and £2 per A4 sheet. Mono proofing is chargeable at £2 per A3 sheet and £1 per A4 sheet.</li>
        <li><strong>1.4.3.</strong> After approval the Client shall have no claim against the Agency for errors in the exemplar as approved by them.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.5</strong> Insolvency</h3>

      <ol>
        <li>
          <strong>1.5.1.</strong> If the Client ceases to pay his debts in the ordinary course of business or cannot pay his debts as they become due or is deemed to be unable to pay its debts or have a winding-up petition issued against it or being a person who commits an act of bankruptcy or has a bankruptcy petition issued against him, the Agency without prejudice to other remedies shall:

          <ol>
            <li><strong>1.5.1.1.</strong> Have the right not to proceed further with the contract or any other work for the Client and be entitled to charge for work already carried out (whether completed or not) and materials purchased for the Client. Such charge to be an immediate debt due to him.</li>
            <li><strong>1.5.1.2.</strong> In respect of all unpaid debts due from the Client have a general lieu on all goods and property in its possession (whether worked on or not) and shall be entitled on the expiration of 14 days' notice to dispose of such goods or property in such manner and at such price as it thinks fit and to apply the proceeds towards such debts.</li>
          </ol>
        </li>
      </ol>
    </section>

    <section>
      <h3><strong>1.6</strong> Force Majeure</h3>

      <ol>
        <li><strong>1.6.1.</strong> The Agency shall be under no liability if it shall be unable to carry out any provision of the contract for any reason beyond its control including (without limiting the foregoing) Act of God, legislation, war, fire, flood, drought, failure of power supply, lock-out, strike or other action taken by employees in contemplation or furtherance of a dispute or owing to any inability to procure materials required for the performance of the contract. During the continuance of such a contingency the Client may by written notice to the Agency elect 'to terminate the contract and pay for work done and materials used', but subject thereto shall otherwise accept delivery when available.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.7</strong> Information Provided by You</h3>

      <ol>
        <li><strong>1.7.1.</strong> You warrant that the name, address and payment information provided when you place your order with the Agency will be correct and you agree to notify the Agency of any changes in the name, address and/or payment details.</li>
        <li><strong>1.7.2.</strong> You agree that the Agency may disclose your name and address where any enquiries are made.</li>
        <li><strong>1.7.3.</strong> You warrant that you possess the legal right and ability to enter into this Agreement and to use the Agency's services in accordance with this Agreement.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.8</strong> Indemnity</h3>

      <ol>
        <li><strong>1.8.1.</strong> You shall indemnify us and keep us indemnified and hold us harmless from all liabilities, actions, claims, proceedings, losses, expenses (including reasonable legal costs and expenses), costs and damages, howsoever suffered or incurred by us in consequences of your breach or non-observance of this Agreement, or arising out of claims based upon or relating to our work for you or any claim brought against us by a third party resulting from the provision of any Services to you and your use of them.</li>
        <li><strong>1.8.2.</strong> The Agency will notify you promptly of any claim for which the Agency seeks specific indemnification at the currently supplied address. The Agency will afford you the opportunity to participate in the defense of such claim, provided that your participation will not be conducted in a manner prejudicial to the Agency's interests, as reasonably determined by the Agency and/or its legal representatives.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.9</strong> Limitation of Liability</h3>

      <ol>
        <li><strong>1.9.1.</strong> All conditions, terms, representations and warranties relating to the Services supplied under this Agreement, whether imposed by statute or operation of law or otherwise, that are not expressly stated in these terms and conditions including, without limitation, the implied warranty of satisfactory quality and fitness for a particular purpose are hereby excluded, are subject always to sub clause <strong>1.9.2.</strong></li>
        <li><strong>1.9.2.</strong> Nothing in these terms and conditions shall exclude our liability for death or personal injury resulting from our negligence.</li>
        <li><strong>1.9.3.</strong> In any event, no claim against the Agency shall be brought unless you have notified the Agency of the claim within one year of the issue arising.</li>
        <li><strong>1.9.4.</strong> In no event shall the Agency be liable to you by reason of any representation (unless fraudulent), or any implied warranty, condition or other term, or any duty at common law, for any loss of business, contracts, anticipated savings or profits or any indirect, special or consequential loss, damage, costs, expenses or other claims (whether caused by the Agency's negligence or the negligence of its servants or agents or otherwise) which arise out of or in connection with the provision of any goods or services by the Agency.</li>
        <li><strong>1.9.5.</strong> The Agency warrants that its services will be provided using reasonable care and skill. Where the Agency supplies any goods supplied by a third party, the Agency does not give any warranty, guarantee or other term as to their quality, fitness for purpose or otherwise, but shall, where possible, assign the benefit of any warranty, guarantee or indemnity given by the supplier of the goods to the Agency.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.10</strong> General Terms</h3>

      <ol>
        <li><strong>1.10.1.</strong> These conditions and all other express terms of the contract shall be governed and constructed in accordance with the laws of England and you hereby submit to the non-exclusive jurisdiction of the English courts.</li>
        <li><strong>1.10.2.</strong> The Agency shall not be liable or deemed to be in breach of contract by reason of any delay in performing, or failure to perform, any of its obligations if the delay or failure was due to any cause beyond its reasonable control.</li>
        <li><strong>1.10.3.</strong> All quotes/estimates, briefs and other Client/Agency documents are commercially confidential and may not be disclosed to third parties without prior written agreement.</li>
        <li><strong>1.10.4.</strong> These terms and conditions, together with any documents expressly referred to in them, contain the entire Agreement between the Agency and the Client relating to the subject matter covered and supersede any previous agreements, arrangements, undertakings, proposals or contemporaneous communications, written or oral: between the Agency and the Client in relation to such matters. No oral explanation or oral information given by any party shall alter the interpretation of these terms and conditions. In agreeing to these terms and conditions, you confirm that you have not relied on any representation other than those expressly stated in these terms and conditions and you agree that you shall have no remedy in respect of any misrepresentation which has not been expressly made in this Agreement.</li>
        <li><strong>1.10.5.</strong> Any notice to be given by either party to the other may be sent by either email or post to the address of the other party as appearing in this Agreement or ancillary application forms or such other address as such party may from time to time have communicated to the other in writing, and if sent by email shall unless the contrary is proved, be deemed to be received on the day it was sent, or if sent by post shall be deemed to be served two days following the date of posting.</li>
        <li><strong>1.10.6.</strong> Headings, numbering and summaries are included in this Agreement for convenience only and shall not affect the construction or interpretation of this Agreement.</li>
        <li><strong>1.10.7.</strong> You acknowledge that no joint venture, partnership, employment, or agency relationship exists between you and the Agency as a result of your use of these services. You agree not to hold yourself out as a representative, agent or employee of the Agency. You agree that the Agency will not be liable by reason of any representation, act or omission to act by you.</li>
        <li><strong>1.10.8.</strong> The Agency reserves the right to revise, alter, modify or amend these terms and conditions, and any of our other policies and agreements at any time and in any manner without prior notification. Notice of any revision, amendment, or modification will be posted in accordance with our Terms and Conditions.</li>
        <li><strong>1.10.9.</strong> If any of the provisions of this Agreement are judged to be illegal or unenforceable, the remainder shall continue in full force and the effect of the remainder of them will be not be deemed to be prejudiced.</li>
        <li><strong>1.10.10.</strong> This Agreement takes effect on the date on which you order our services. Acceptance of these terms is an absolute condition of the Client requesting work. An order constitutes acceptance of all our Terms and Conditions.</li>
        <li><strong>1.10.11.</strong> You shall not assign this Agreement or any benefits or interests arising under this Agreement without the Agency’s prior written permission.</li>
      </ol>
    </section>

    <section>
      <h3><strong>1.11</strong> Service Level Agreements</h3>

      <ol>
        <li><strong>1.11.1.</strong> The hours provided in Service Level Agreements (SLA) can be used in any way, other than for fixed costs and essential services – such as web hosting or advertising placement – or towards payment of debts or existing/quoted jobs.</li>
        <li><strong>1.11.2.</strong> Once an account handler at the Agency has been given a job brief as part of the SLA, should the work take longer than 30 minutes, we will endeavour to provide a total estimate of how long the job will take for approval by the Client before any work is commenced.</li>
        <li><strong>1.11.3.</strong> For each job requested by the Client as part of the SLA, a minimum of 15 minutes will be deducted from the remaining SLA time allowance.</li>
        <li><strong>1.11.4.</strong> All hours worked as part of an SLA are recorded and can be forwarded to the Client on request.</li>
        <li><strong>1.11.5.</strong> Once a Client approaches the final two hours of their SLA allowance, the Agency will endeavour to notify them automatically via email, providing the opportunity to purchase another SLA.</li>
        <li><strong>1.11.6.</strong> Any hours that have not been used within the initial 12 months after purchase will roll over to the following year, up to a maximum of 24 months. However, although the Agency reserves the right to increase the hourly rate as business needs dictate, the hours in an SLA will be honoured at the original rate at which they were purchased for one year, after which time, any roll-over hours will be applied to subsequent years at the new hourly rate.</li>
      </ol>
    </section>
  </section>

  <section>
    <h2>Print Terms & Conditions</h2>

    <section>
      <h3><strong>2.1</strong> Proofing</h3>

      <ol>
        <li><strong>2.1.1.</strong> After initial design and layout, a mono proof will be submitted for author’s corrections to be identified. These corrections will be carried out inclusive of the quoted price. On approval of a second mono proof, again inclusive of the quoted price, the design will be classed as complete, where a final colour proof will be provided for full Client sign off. Any additional author’s corrections requested after the second mono proof is submitted will be charged at our normal rate of £100 per hour and £5 for each colour A3 proofing page printed.</li>
      </ol>
    </section>

    <section>
      <h3><strong>2.2</strong> Print</h3>

      <ol>
        <li><strong>2.2.1.</strong> Standing matter and printers’ materials of any kind are effaced or disposed of immediately after the order is executed unless written arrangements are made for retention in advance.</li>
        <li><strong>2.2.2.</strong> The Agency shall not be required to work to tolerances closer than those applicable to the materials obtained by him in the ordinary course of trade. No liability shall arise from variation in the standard, quality and performance of such materials.</li>
        <li><strong>2.2.3.</strong> Every endeavour will be made to deliver the correct quantity ordered, but estimates are conditional upon margins of 5% for work in one colour and 10% for other work being allowed for overs or shortage (4% and 8% respectively for quantities exceeding 50,000) the same to be charged or deducted.</li>
      </ol>
    </section>

    <section>
      <h3><strong>2.3</strong> Materials supplied by the Client</h3>

      <ol>
        <li><strong>2.3.1.</strong> The Agency will not be responsible for imperfect work caused by defects in or unsuitability of material and equipment supplied by the Client. The Agency will not be responsible for Client’s material wasted in course of production. Extra costs incurred through the use of defective materials or equipment supplied are for the Client’s account.</li>
        <li><strong>2.3.2.</strong> The Agency may reject any paper, plates or other materials supplied or specified by the Client which appear to them to be unsuitable. Additional cost incurred if materials are found to be unsuitable during production may be charged except that if the whole or any part of such additional cost could have been avoided but for unreasonable delay by the Agency in ascertaining the unsuitability of the materials then that amount shall not be charged to the Client.</li>
        <li><strong>2.3.3.</strong> Quantities of materials supplied by the Client shall be adequate to cover normal spoilage.</li>
      </ol>
    </section>

    <section>
      <h3><strong>2.4</strong> Machine Readable Codes</h3>

      <ol>
        <li><strong>2.4.1.</strong> In the case of machine readable codes or symbols, the Agency shall print the same as specified or approved by the Client in accordance with generally accepted standards and procedures.</li>
        <li><strong>2.4.2.</strong> The Client shall be responsible for satisfying themselves that the code or symbol will read correctly on the equipment likely to be used by those for whom the code or symbol is intended.</li>
        <li><strong>2.4.3.</strong> The Client shall indemnify the Agency against any claims by any party resulting from the code or symbol not reading or not reading correctly for any reason, except to the extent that such claim arises from any failure of the Agency to comply with any of the above which is not attributable to error falling within the tolerances generally accepted in the trade in relation to printing of this sort.</li>
      </ol>
    </section>

    <section>
      <h3><strong>2.5</strong> Delivery</h3>

      <ol>
        <li><strong>2.5.1.</strong> Goods will be dispatched or must be collected by the Client when ready and the Client shall not refuse or delay delivery.</li>
        <li><strong>2.5.2.</strong> Advice of damage, delay or partial loss of goods in transit or of non-delivery must be given in writing to the Agency and the carrier within three clear days of delivery (or, in the case of non-delivery, within 28 days of despatch of the goods) and any claim in respect thereof must be made in writing to the Agency and the carrier within seven days of delivery (or, in the case of non-delivery, within 42 days of despatch). All other complaints and claims must be made in writing to the Agency within 28 days of delivery. The Agency shall not be liable in respect of any claim unless the aforementioned requirements have been complied with except in any particular case where the Client proves that it was not possible to comply with the requirements and advice (where required) was given and the claim made as soon as reasonably possible.</li>
        <li><strong>2.5.3.</strong> Goods completed but not delivered shall thereupon forthwith become due and payable. Moreover after the expiration of 14 days notice the Agency may exercise a general lien on all the Client’s goods and property in our hands and may dispose of such goods and property as they see fit and apply the proceeds towards such debts. The Agency may also elect to cancel further work and/or not produce any unmade balance of such contract and recover from the Client any losses sustained by so doing.</li>
        <li><strong>2.5.4.</strong> The Agency shall not be liable for any loss to the Client arising from delay in transit howsoever caused.</li>
        <li><strong>2.5.5.</strong> The risk in the goods passes to the Client upon delivery (whether to the Client or to a common carrier) but legal and beneficial ownership shall remain with the Agency until payment in full has been received (each delivery being considered as a whole). Until the date of payment the Client, if so required by the Agency, shall store the goods in such a way that they are clearly identifiable as the property of the Agency.</li>
      </ol>
    </section>
  </section>

  <section>
    <h2>Digital Media Terms & Conditions</h2>

    <section>
      <h3><strong>3.1</strong> Programming</h3>

      <ol>
        <li><strong>3.1.1.</strong> The Agency can only program sites to be as secure as reasonably possible at the time of delivery and can not offer indemnity against future threats/developments.</li>
        <li><strong>3.1.2.</strong> Once the Agency has deemed a project to be complete, any amendments will be charged at the Agency’s standard billing structure of £100/hour.</li>
        <li><strong>3.1.3.</strong> The Agency develops websites for compatibility with the current version of the major browsers (Microsoft Internet Explorer, Edge (Windows), Chrome, Safari, Firefox): not all previous versions or every browser. If further compatibility is required, the Agency must be advised at the outset.</li>
        <li><strong>3.1.4.</strong> With regards to SEO (Search engine optimisation) and SPA's (single page applicaitons), it must be made clear what search engines are deemed appropriate for the application to be compatible with which may involve additional work and costs to prerender the application.</li>
        <li><strong>3.1.5.</strong> Any updates or modifications made either by software updates, code tampering or infrastructure changes cannot be guaranteed against the final deliverable and would therefore mitigate The Agency as responsible or cause of anything that should happen as a result of the update or modification.</li>
      </ol>
    </section>

    <section>
      <h3><strong>3.2</strong> Ownership</h3>

      <ol>
        <li><strong>3.2.1.</strong> The ownership of the web pages and copyright therein shall remain with the Agency until payment in full has been received for all sums owing. Once payment has been received, ownership and copyright shall pass to the Client for page text and graphics specific to the Client.</li>
        <li><strong>3.2.2.</strong> Ownership of all code used in processing web pages shall remain with the Agency and it is expressly agreed that the use of such code in processing the web pages does not confer any passing of title from the Agency to the Client.</li>
      </ol>
    </section>

    <section>
      <h3><strong>3.3</strong> Content</h3>

      <ol>
        <li><strong>3.3.1.</strong> The Client shall supply the copy for your web pages in clear and usable permanent or electronic form and shall be entirely responsible for the content of the web pages.</li>
        <li><strong>3.3.2.</strong> All images uploaded to websites by the Client (via CMS, FTP or other) should be optimised (compressed file size). The Agency can provide advice on the best image editing software packages, but accepts no responsibility for the performance or compatibility of third-party software, or the results they produce.</li>
        <li><strong>3.3.3.</strong> When a test link is provided, it is the responsibility of the Client to test the functionality, read and check all copy, as well as approve the design and images used before approval is given.</li>
        <li><strong>3.3.4.</strong> The Agency can provide legal disclaimers and privacy policies; but it is the responsibility of the Client to confirm with their own legal advisers that these meet their individual requirements, as The Agency accepts no responsibility for their accuracy, relevance or currency.</li>
      </ol>
    </section>

  </section>

  <section>
    <h2>Website Hosting and Email Terms & Conditions</h2>

    <section>
      <h3>Summary</h3>

      <p>
        The Agency offers website hosting and database hosting services through the use of third party providers and is subject to requirements set out in these terms and conditions and any other relevant terms and conditions, policies and notices which may be applicable to the supply of hosting services.
      </p>

      <p>
        Below is a summary of the main points covered in these terms:
      </p>

      <ul>
        <li>Whilst we and our suppliers will always endeavour to give you the best possible level of service, we cannot guarantee 100% availability of service.</li>
        <li>The Agency and our suppliers accept no responsibility for any losses caused through a loss of service.</li>
        <li>Your service will be removed if you fail to pay in time or misuse the service.</li>
        <li>The Agency will not be liable for any costs to restore your service once it has been removed. Specifically, any websites with databases will require reprogramming once they have been removed from their original server.</li>
        <li>Any work undertaken by the Agency at the request of the Client will be charged at our standard rate of £100 per hour, including investigations regarding problems or loss of service that are not due to the Agency or our suppliers. The Agency should only be contacted after you and your IT professional/advisor have established that any problems are not due to you or your systems.</li>
      </ul>
    </section>

    <section>
      <h3><strong>4.1</strong> Website & Email Content & Use</h3>

      <ol>
        <li><strong>4.1.1.</strong> We make no representation and give no warranty as to the accuracy or quality of information received by any person via the Server and we shall have no liability for any loss or damage to any data stored on the Server. You warrant the accuracy, truthfulness and reliability of any information (including, where applicable, statements of opinion or advice) which you place or allow to be placed on your web pages. You warrant that you are authorised to promote and/or provide any information which you promote and/or provide on your web pages (for example if you are providing financial information, that you hold any necessary authorisation under all relevant legislation including the Financial Services Acts).</li>
        <li>
          <strong>4.1.2.</strong> You represent, undertake and warrant to us that you will use the website allocated to you only for lawful purposes. In particular, you represent, warrant and undertake to us that:

          <ol>
            <li><strong>4.1.2.1.</strong> You will not use the Server in any manner which infringes any law or regulation or which infringes the rights of any third party, nor will you authorise or permit any other person to do so.</li>
            <li>
              <strong>4.1.2.2.</strong> You will not host, post, publish, disseminate, link to or transmit:

              <ol>
                <li><strong>4.1.2.2.1.</strong> Any material or information which is unlawful, infringing, threatening, abusive, malicious, defamatory, obscene, indecent, blasphemous, profane or otherwise objectionable in any way.</li>
                <li><strong>4.1.2.2.2.</strong> Any material containing a virus or other hostile computer program.</li>
                <li><strong>4.1.2.2.3.</strong> Any material or information which constitutes, or encourages the commission of a criminal offence, or which threatens, harasses, stalks, abuses, disrupts or violates the legal rights (including rights of privacy and publicity) of others, or which infringes any patent, trade mark, design right, copyright or any other intellectual property right or similar rights of any person which may subsist under the laws of any jurisdiction.</li>
              </ol>
            </li>
            <li><strong>4.1.2.3.</strong> You will not send bulk email, whether opt-in or otherwise, from our network. Nor will you promote a site hosted on our suppliers network using bulk email.</li>
            <li><strong>4.1.2.4.</strong> You will not employ programs which consume excessive system resources, including but not limited to processor cycles and memory.</li>
            <li><strong>4.1.2.5.</strong> You shall observe the procedures which we may from time to time prescribe and you shall make no use of the Server which is detrimental to other customers.</li>
            <li><strong>4.1.2.6.</strong> You shall procure that all mail is sent in accordance with applicable legislation (including data protection legislation) and in a secure manner.</li>
            <li><strong>4.1.2.7.</strong> In the case of an individual User, you warrant that you are at least 16 years of age and if the User is a company, you warrant that the Server will not be used by anyone under the age of 16 years.</li>
            <li><strong>4.1.2.8.</strong> You are entirely responsible for any civil or criminal liability that is incurred as a result of any use of your web pages. If you post or allow to be posted a defamatory or libellous message, it is you that will be deemed to have published it and you shall be liable for the consequences of it.</li>
          </ol>
        </li>
        <li><strong>4.1.3.</strong> We and our suppliers reserve the right to remove any material which they deem inappropriate from your web site without notice (specifically, but not restricted to, Warez and illegal MP3 content).</li>
        <li><strong>4.1.4.</strong> If you advertise or offer to sell goods or services via your web pages, you undertake to provide goods in conformity with any description and warranties made. You agree to comply with all relevant legislation including Advertising and Broadcast regulations, Consumer Credit Acts and Trades Descriptions Acts. If you are advertising goods in the course of a trade or business this must clearly be so stated.</li>
      </ol>
    </section>

    <section>
      <h3><strong>4.2</strong> Charges</h3>

      <ol>
        <li><strong>4.2.1.</strong> All charges payable by you for the Services shall be in accordance with the scale of charges and rates published from time to time by us and shall be due and payable in advance of their service provision without any set-off or other deduction. We reserve the right to change pricing at any time, although all pricing is guaranteed for the current subscription period.</li>
        <li></li>
      </ol>
    </section>
  </section>
</section>

