<h1 class="sr-only">Jupiter and the Giraffe</h1>

<div class="section home">
  <div class="row equal-heights">
    <section class="col-sm">
      <header>
        <h2>Who are Jupiter <br>and the Giraffe?</h2>
      </header>

      <p>Jupiter and the Giraffe are a not-so-ordinary branding agency. We love all things digital to the moon and back.</p>

      <a href="" [routerLink]="['/who-we-are']">Read more</a><app-dots-component></app-dots-component>
    </section>
    <section class="col-sm">
      <header>
        <h2>What we <br>do</h2>
      </header>

      <p>
        We care about your brand as much as you do, we have experience in logo design and corporate identity. To finish
        it off, we can build you a kickass website to go with it.
      </p>

      <a href="" [routerLink]="['/what-we-do']">
        Read more
      </a><app-dots-component></app-dots-component>
    </section>
  </div>

  <app-friends-component></app-friends-component>
</div>

