@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.home {
  transition: color 1s ease, background 1s ease;
  padding-bottom: 20px;

  h2 {
    @include md {
      @include font-size($heading-1);
    }
  }

  .work {
    @include md {
      margin-top: 20px;
    }
  }

  &__about {
    margin-bottom: $margin-xlarge;
  }

  &--active {
    background: $color-white;
    color: $color-black;

    a {
      color: $color-black;

      @include hover-focus {
        text-decoration: underline;
      }
    }
  }
}
