@import "../../assets/sass/settings/settings";
@import "../../assets/sass/tools/tools";

.home {
  transition: color 1s ease, background 1s ease;
  padding: 20px 0;
  background: $color-white;
  color: $color-black;

  .work {
    @include md {
      margin-top: 20px;
    }
  }

  &__about {
    margin-bottom: $margin-xlarge;
  }

  &__blog-info {
    margin-bottom: $space-medium;
    margin-top: $space-medium;
  }

  &__blog-image {
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  &__blog-tag {
    padding: 5px;
    margin: 5px;
    background-color: rgba($color-oldBrick, .5);
    color: $color-white;
    border-radius: 5px;
    font-size: $small-font;
    border: 1px solid $color-pickledBluewood;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__blog-title-link {
    @include hover-focus {
      text-decoration: none;
    }
  }
}
