a {
  transition: color .4s;
  text-decoration: none;
  color: $color-white;

  &[href^="http://"],
  &[href^="https://"] {
    position: relative;

    &:after {
      content: "\f08e";
      display: inline-block;
      font-family: "FontAwesome";
      vertical-align: bottom;
      opacity: 0;
      transition: opacity .3s ease, transform .3s ease;
      position: absolute;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    }

    @include hover-focus {

      &:after {
        opacity: 1;
        transform: translate(6px, -6px);
      }
    }
  }

  &:hover {
    color: $color-malibu;
  }

}

.keyboard-user {
  a {
    &:focus {
      text-decoration: underline;
      outline: none;
      background: $color-primary;
      color: $color-white;

      &:not(.btn) {
        padding: $space-small;
      }
    }
  }
}

p a:link {
  text-decoration: underline;

  @include hover-focus {
    text-decoration: none;
  }
}
