button {
  color: $color-black;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  border-radius: .25rem;
  transition: background-color $animation;
  background-color: $color-white;
  @include font-size($base-font);

  @include hover-focus {
    background-color: transparent;
    color: $color-white;
    border-color: $color-white;
  }

  &[type="submit"] {
    margin: $margin-xlarge 0;
    float: right;
    position: relative;
    background: $color-black;
    color: $color-white;
    padding: 10px 20px;
    border-color: $color-black;

    &:before {
      content: "";
      background-color: $color-green-haze;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      transition: width $animation;
      z-index: -1;
    }

    &:hover:not([disabled]), &:focus:not([disabled]) {
      outline: none;
      border-color: $color-green-haze;
      background: $color-white;
      color: $color-black;

      &:before {
        width: 100%;
      }
    }
  }

  &[disabled] {
    opacity: .4;
  }
}
