form {
  overflow: hidden;
}

.form {
  &-error {
    margin: $space-small 0;
    color: $color-white;
    background: $color-oldBrick;
    @include title-font();
    padding: $space-small;
    border-radius: 5px;
    @include font-size($small-font);
  }
}
