h1,
h2,
h3,
h4 {
  @include title-font();
  line-height: 1;
}

h1 {
  @include font-size($heading-1);

  @media screen and (max-width: $screen-sm - 1) {
    @include font-size($heading-1-mobile);
  }
}

h2 {
  @include font-size($heading-2-mobile);
  margin-bottom: $space-large;
  padding-bottom: $space-medium;
  text-align: center;

  @include md {
    text-align: left;
    @include font-size($heading-2);
  }

  br {
    display: none;

    @include md {
      display: block;
    }
  }
}

h3 {
  @include font-size($heading-3);
  margin: $space-small 0 $space-medium 0;
}

h4 {
  @include font-size($heading-4);
  margin-bottom: $space-small;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
