input {
  display: block;
  border: none;
  border-left: 3px solid transparent;
  padding: $space-medium;
  margin: $space-small 0;
  width: 100%;
  border-radius: 3px;
  color: $color-black;
  @include title-font();
  transition: border-left $animation;

  &:focus {
    border-left-color: $color-green-haze;
    outline: none;
    transition: border-left-color .3s ease;

    &:invalid {
      border-left-color: $color-oldBrick;
    }
  }

}
