<footer class="footer" ngClass="{'footer--hide': hide}">
    <div class="container-fluid">
      <blockquote class="text-center">
        <q>You've made it to the bottom!</q>
        <footer>Jupiter and the Giraffe</footer>
      </blockquote>
      <section>
        <header>
          <h2 class="footer__title heading-3">Brands</h2>
        </header>
        <ul class="list-unstyled">
          <ng-container *ngFor="let brand of highlightedFriendStore.friends$ | async">
            <li class="footer__list-item">
              <a [routerLink]="'/case-study/' + brand.slug" class="footer__link">
                {{brand.title.rendered}}
              </a>
            </li>
          </ng-container>
        </ul>
      </section>

      <div class="row">
        <div class="col-md-10">
          <app-email-popup></app-email-popup>
        </div>
      </div>

      <ul class="footer__social list-unstyled list-inline">
        <li>
          <a href="https://www.linkedin.com/company/jupiter-and-the-giraffe/" class="link-plain footer__social-link" title="Jupiter and the Giraffe Linkedin profile">
            <i class="icon-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/jupiterandthegiraffe" class="link-plain footer__social-link" title="Jupiter and the Giraffe Instagram profile">
            <i class="icon-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/jupiter_giraffe" class="link-plain footer__social-link" title="Jupiter and the Giraffe Twitter profile">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://facebook.com/jupiterandthegiraffe" class="link-plain footer__social-link" title="Jupiter and the Giraffe Facebook profile">
            <i class="icon-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://pinterest.co.uk/jupiterandthegiraffe" class="link-plain footer__social-link" title="Jupiter and the Giraffe Pinterest profile">
            <i class="icon-pinterest" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.behance.net/JupiterandtheGiraffe" class="link-plain footer__social-link" title="Jupiter and the Giraffe Behance profile">
            <i class="icon-behance" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://blog.jupiterandthegiraffe.com" class="link-plain footer__social-link" title="Jupiter and the Giraffe Blog">
            <i class="fab fa-wordpress" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-8">
          <ul class="footer__menu list-unstyled list-inline">
            <ng-container *ngFor="let item of general">
              <li
                class="list-inline-item"
                [ngClass]="item.class"
                *ngIf="item.url"
              >
                <a [routerLink]="item.url" class="footer__link">{{item.name}}</a>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="col-md-4 footer__menu">
          <div class="pull-right">
            © {{ today | date:'yyyy' }} Jupiter and the Giraffe Ltd.
          </div>
        </div>
      </div>
      <span class="footer__giraffe">
        <img [src]="'assets/images/giraffe.png'" [srcset]="'assets/images/giraffe@2x.png 2x'" alt="">
      </span>
    </div>
</footer>
