@import "../../../assets/sass/settings/settings";

.footer {
  background-color: $color-gray-dark;
  color: $color-white;
  z-index: 3;
  padding: $space-small 0 $space-large;
  position: relative;

  &__title {
    color: lighten($color-gray-dark, 15%);
    border-bottom-color: lighten($color-gray-dark, 15%);
    margin-bottom: 0;
    padding-bottom: $space-small;
  }

  &__link {
    text-decoration: none;
  }

  &__menu {
    margin-top: $margin-xlarge;
  }

  &__social {
    margin-top: $margin-xlarge;
  }

  &__social-link {
    margin-right: $space-large;
  }

  &__list-item {
    padding: 5px 0;
    border-bottom: 1px solid lighten($color-gray-dark, 15%);
  }

  blockquote {
    margin: $space-large 0;
  }

  &__giraffe {
    position: absolute;
    right: 20px;
    bottom: 0;
    opacity: .2;
  }

  &__general-item {
    &::before {
      content: '•';
      display: inline-block;
      padding: 0 5px;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
  }

  &__number {
    margin: $space-large 0 0 0;
  }

  @media screen and (max-width: $screen-sm - 1) {
    .pull-right { float: none; margin-left: 0 }
  }
}
