<div class="profile white-bg">
  <section class="container-fluid">
    <a [routerLink]="['../']" class="profile__back">< Back</a>

    <img src="/assets/images/suzie-icon.jpg"
         srcset="/assets/images/suzie-icon.jpg 1x, /assets/images/suzie-icon@2x.jpg 2x"
         alt="Profile of Suzannah James" class="img-fluid profile__image">

    <header class="text-center">
      <h1>Suzannah James</h1>
      Creative Director
    </header>

    <section class="section">
      <header>
        <h2>Your story</h2>
      </header>

      <p>
        I started my professional career as a copywriter for the digital department at Vodafone UK on a graduate
        marketing scheme. From there I went into front-end development for a short while before I got my first full-time
        position as a developer at AND Digital (AND) where I fell in love with design. After carving out a design role
        at AND I was introduce to Samuel and we began doing side projects for Jupiter and the Giraffe together.
      </p>

      <p>
        After successfully delivering several projects together we decided to go full-time with Jupiter and the Giraffe.
      </p>
    </section>

    <section class="section">
      <header>
        <h2>Favourite designers/studios</h2>
      </header>

      <ul>
        <li>Jessica Walsh</li>
        <li>Ikko Tanaka</li>
        <li>Leta Sobierajski</li>
        <li>Saul Bass</li>
      </ul>
    </section>

    <section class="section">
      <header>
        <h2>Favourite books</h2>
      </header>

      <div class="row text-center">
        <div class="col-sm-4">
          <a href="https://amzn.to/2NMR27C">
            <figure>
              <img class="profile__book-image" src="/assets/images/a-little-life.jpg" alt="">
              <figcaption>A Little Life - Hanya Yanagihara</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://amzn.to/2ERmSxu">
            <figure>
              <img class="profile__book-image" src="/assets/images/a-fine-balance.jpg" alt="">
              <figcaption>A Fine Balance - Rohinton Mistry</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://amzn.to/2ERwTKV">
            <figure>
              <img class="profile__book-image" src="/assets/images/culture-series.jpg" alt="">
              <figcaption>The Culture Series - Ian M. Banks</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </section>

    <app-get-in-touch [title]="'Want to work with Suzannah?'"></app-get-in-touch>
  </section>
</div>
