a {
  transition: color .4s;
  text-decoration: none;
  color: $color-white;

  &[href^="http://"],
  &[href^="https://"] {
    &:after {
      content: "\f08e";
      display: inline-block;
      font-family: "FontAwesome";
      margin-left: 5px;
      vertical-align: bottom;
      opacity: 0;
      transition: opacity .3s ease, transform .3s ease;
    }

    @include hover-focus {

      &:after {
        opacity: 1;
        transform: translateX(5px);
      }
    }
  }

  &:hover {
    color: $color-malibu;
  }

}

.keyboard-user {
  a {
    &:focus {
      text-decoration: underline;
      outline: none;
      background: $color-primary;
      color: $color-white;

      &:not(.btn) {
        padding: 5px;
      }
    }
  }
}

p a:link {
  text-decoration: underline;
}
