.btn {
  @extend button;
  line-height: 1.2;

  &--primary-outline {
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &--white {
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
      outline: none;
    }
  }

  &--lg {
    @media screen and (max-width: $screen-sm - 1) {
      padding: 0.75rem 0.50rem;
    }
  }
}
