@import "mixins";

.btn {
  @extend button;
  line-height: 1.2;
  width: 100%;
  padding: 10px;

  @include md {
    width: auto;
  }

  &--primary-outline {
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &--white {
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
      outline: none;
    }
  }

  &--lg {
    padding: 0.75rem 0.50rem;
  }
}
