button {
  //-webkit-appearance: button;
  color: $color-black;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  border-radius: .25rem;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  background: $color-white;
  @include font-size($base-font);

  &:hover, &:focus {
    background: transparent;
    cursor: pointer;
    border-color: $color-white;
    color: $color-white;
  }
}
