form {
  overflow: hidden;
}

.form {
  &-error {
    margin: $margin-small 0;
    background: $color-white;
    color: $color-oldBrick;
    font-family: $title-font;
    padding: $margin-small;
    border-radius: 5px;
    @include font-size($small-font);
  }
}
