::-moz-selection { /* Code for Firefox */
  color: $color-white;
  background: $color-oldBrick;
}

::selection {
  color: $color-white;
  background: $color-oldBrick;
}

* {
  box-sizing: border-box;
}
