h1,
h2,
h3,
h4 {
  font-family: $title-font;
}

h1 {
  @include font-size($heading-1);

  @media screen and (max-width: $screen-sm - 1) {
    @include font-size($heading-1-mobile);
  }
}

h2 {
  @include font-size($heading-2-mobile);
  margin-bottom: $margin-large;
  padding-bottom: $margin-large;
  border-bottom: 1px solid $color-pickledBluewood;
  line-height: 1;

  &:after {
    content: '_';
    opacity: 1;
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @include md {
    @include font-size($heading-2);
  }

  br {
    display: none;

    @include md {
      display: block;
    }
  }
}

h3 {
  @include font-size($heading-3);
  margin: 5px 0 15px 0;
}

h4 {
  @include font-size($heading-4);
  margin-bottom: 5px;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
