h1,
h2,
h3,
h4 {
  font-family: $main-font;

  &:after {
    content: '_';
    opacity: 1;
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

h1 {
  @include font-size($heading-1);

  @media screen and (max-width: $screen-sm - 1) {
    @include font-size($heading-1-mobile);
  }
}

h2 {
  @include font-size($heading-2);
  margin-bottom: $margin-large;
  padding-bottom: $margin-large;
  border-bottom: 1px solid $color-pickledBluewood;

  @media screen and (max-width: $screen-sm - 1) {
    @include font-size($heading-2-mobile);
  }

  br {
    @media screen and (max-width: $screen-sm - 1) {
      display: none;
    }
  }
}

h3 {
  @include font-size($heading-3);
}

h4 {
  @include font-size($heading-4);
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
